{% extends 'layout.twig' %}

{% block content %}
    {% if loggedIn == false %}
        <div class="jumbotron">
            <h1>SpeakBounties</h1>
            <p>Welcome to Speak Network's bounties and proposal platform built on Hive, here you can submit proposals that can help grow the Speak Network and receive bids on your proposals</p>
        </div>
    {% endif %}
    

    <div id="bid-area" class="container">
        <select class="form-control" id="myBidSelectBox">
            <option value="all" class="task-sel-option">All Bids</option>
        </select>

        <div id="bidsView">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(async () => {
            const locationUrl = window.location.pathname

            let locationSearch = locationUrl.search('bids')


            if (locationSearch !== -1) {
                const theToken = localStorage.getItem('auth_token');

                console.log('tasks page')
                if (!theToken) {
                    window.location.replace('/')
                }

                if (theToken) {
                    console.log('verified')
                    const name = localStorage.getItem('currentUser');
                    let currentUserSearch = locationUrl.search(name)
                    if (currentUserSearch === -1) {
                        window.location.replace(`/`)
                    }
                    
                }
            }

            if (locationSearch === -1) {
                const theToken = localStorage.getItem('auth_token');

                console.log('tasks page')
                if (!theToken) {
                    console.log('not verified')
                }

                if (theToken) {
                    const name = localStorage.getItem('currentUser');
                    window.location.replace(`/${name}/bids/all`)
                }
            }
        })
    </script>
    <script>
        let allTasksArr = []
        $(document).ready(async () => {
            const name = localStorage.getItem('currentUser');
            const theToken = localStorage.getItem('auth_token');

            if (name && theToken) {
                $('#myBidSelectBox').append(
                    `<option value="yours" class="task-sel-option">Submitted By You</option>
                    <option value="from" class="task-sel-option">Submitted To You</option>`)
            }

            const loggedIn = '{{loggedIn}}';

            async function getTaskOP (opt) {
                console.log(opt);
                
                if (opt === 'all') {

                    const getAll = await axios.get('/api/all/bids');

                    const tasks = getAll.data.tasks
                    return tasks;
                }

                if (opt === 'yours') {

                    const getAll = await axios.post('/api/bids/yours', {
                        username: '{{username}}'
                    });

                    const tasks = getAll.data.tasks
                    return tasks;
                }

                if (opt === 'from') {

                    const getAll = await axios.post('/api/bids/from', {
                        username: '{{username}}'
                    });

                    const tasks = getAll.data.tasks
                    return tasks;
                }


            }

            async function sortTasks (tasksToBeSorted) {
                if (tasksToBeSorted.length === 0) {
                    $('#bidsView').html(
                        `<div class="alert alert-dark text-center" role="alert" style="margin-top: 2%;">
                            <b>No bids created yet!</b>
                        </div>`
                    )
                } else {
                    $('#bidsView').html(
                        `<div class="alert alert-dark text-center" role="alert" style="margin-top: 2%;">
                            <b>Loading......</b>
                        </div>`
                    )
                    let bidsList = ``;
                    await tasksToBeSorted.forEach(async (single) => {
                        console.log(single)
                        let milestoneCostList = ``
                        let milestoneTotalCost = 0
                        let milestoneTotalTime = 0
                        single.otherData.priceMilestone.forEach(one => {
                            if (one.priceVal) {
                                milestoneTotalCost += parseFloat(one.priceVal);
                            }

                            if (one.completionTime) {
                                milestoneTotalTime += parseFloat(one.completionTime);
                            }
                            milestoneCostList += 
                                `<span>
                                    <b>${single.otherData.priceMilestone.indexOf(one) + 1}) ${one.mileText}</b>
                                </span><br>
                                <span>
                                    ${one.mileDescText}
                                </span><br><br>
                                <span class="badge badge-primary">Estimated cost: $${one.priceVal}</span>
                                <span class="badge badge-success">Estimated completion time: ${one.completionTime} days</span><br><br>`
                            const extraNotesHtml = 
                                `<span>
                                    <b>Extra Notes</b>
                                </span><br>
                                <span>
                                    ${one.mileExtraComment}
                                </span>`
                            
                            if (one.mileExtraComment) {
                                milestoneCostList += extraNotesHtml
                            }

                            milestoneCostList += `<hr>`
                        })
                        
                        milestoneCostList += 
                            `<span>
                                <b>Total Estimated Cost</b>
                            </span><br>
                            <span class="badge badge-primary">$${milestoneTotalCost}</span><hr>
                            <span>
                                <b>Total Estimated Time</b>
                            </span><br>
                            <span class="badge badge-danger">${milestoneTotalTime} days</span><br>`
                            

                        let supportStatus = 'SUPPORT';
                        let rejectStatus = 'REJECT';
                        let supportLength = 0;
                        let rejectLength = 0;
                        let totalSupportValue = 0;
                        let totalRejectValue = 0;

                        single.votes.forEach(sing => {
                            if (sing.voter === name && sing.voteType === 'support') {
                                supportStatus = 'SUPPORTED'
                            }
                            if (sing.voter === name && sing.voteType === 'reject') {
                                rejectStatus = 'REJECTED'
                            }
                            if (sing.voteType === 'support') {
                                supportLength += 1
                                totalSupportValue += parseFloat(sing.voterHivePower)
                            }
                            if (sing.voteType === 'reject') {
                                rejectLength += 1
                                totalRejectValue += parseFloat(sing.voterHivePower)
                            }
                            
                        })

                        let voteReplies = 
                            `<hr>
                            <h5 class="card-text text-center" id="bidDesc"><b>Vote Replies</b></h5>
                            `;
                        if (single.votes.length > 0) {
                            single.votes.forEach(oneVote => {
                                voteReplies += 
                                `<div class="one-vote-comment">
                                        <p class="card-text text-center" id="bidDesc">
                                            <span class="badge badge-success">Reply from: ${oneVote.voter}</span>
                                            <span class="badge badge-danger">Vote Status: ${oneVote.voteType.toUpperCase()}</span>
                                        </p>
                                        <p class="card-text" id="bidDesc">
                                            ${oneVote.voteBidComment}
                                        </p>
                                    </div>`;
                            })
                        }

                        let sumLumpArea = ``;
                        let sumReimArea = ``;
                        console.log({singleP: single.paymentMode})
                            sumLumpArea = 
                                `<div class="bidSumLump">
                                    <p class="card-text" id="bidDesc">
                                        ${milestoneCostList}
                                    </p>
                                </div>`
                            /*sumReimArea = 
                                `<div class="bidReim">
                                    <p class="card-text" id="bidDesc">
                                        <span>
                                            <b>Total Estimated Cost</b>
                                        </span><br>
                                        <span class="badge badge-primary">$${single.otherData.priceLump}</span><br>
                                    </p>
                                </div>`
                        
                        if (single.paymentMode === 'lump') {
                        } else {
                            sumLumpArea = 
                                `<div class="bidSumLump" style="display:none;">
                                    <p class="card-text" id="bidDesc">
                                        ${milestoneCostList}
                                    </p>
                                </div>`
                            sumReimArea = 
                                `<div class="bidReim">
                                    <p class="card-text" id="bidDesc">
                                        <span>
                                            <b>Total Estimated Cost</b>
                                        </span><br>
                                        <span class="badge badge-primary">$${single.otherData.priceLump}</span><br>
                                    </p>
                                </div>`
                        }*/
                        //$('.selected-bid-private').hide()
                        let taskFunder = ``;
                        let proposalStatus = single.proposalStatus
                        
                        if (single.taskFunding === 'Privately(Closed Source)') {
                            taskFunder = single.hive.parent_author;
                        } else {
                            taskFunder = 'community';
                        }

                        bidsList += 
                            `<div class="card text-center have-top-margin">
                                <div class="card-header container">
                                    <span class="text-white">Proposal Created By: </span><br>
                                    <img src="https://images.hive.blog/u/${single.hive.parent_author}/avatar/small" style="border-radius: 50px;" width="32px"; margin: auto;>
                                    <small class="text-right" style="color: whitesmoke;"><a href="">${single.hive.parent_author}</a></small>  
                                </div>
                                <div class="card-body container bidDetail">
                                    <hr>
                                    <p class="card-text text-center" id="bidDesc">
                                        <br>Task Title: </b> <a href="/task/${single.hive.parent_permlink}?username=${name}&currentProfile=${single.hive.parent_author}&loggedIn={{loggedIn}}">${single.taskTitle}</a>  
                                    </p>
                                    <hr>
                                    <p class="card-text text-center" id="bidDesc">
                                        Bid created by <br>
                                        <img src="https://images.hive.blog/u/${single.hive.author}/avatar/small" style="border-radius: 50px;" width="32px"; margin: auto;>
                                        <small class="text-right"><a href="">${single.hive.author}</a></small>   
                                    </p>
                                    <hr>
                                    <p class="card-text text-center" id="bidDesc">
                                        <b>Bid Execution & Technical Details</b>
                                    </p>
                                    <p class="card-text" id="bidDesc">
                                        ${single.otherData.bidComment}
                                    </p>
                                    ${sumLumpArea}
                                    ${sumReimArea}
                                    <div class="vote-replies">${voteReplies}</div>

                                    <div class="form-group voteCommentArea" style="display:none;">
                                        <hr>
                                        <b>Status: </b><span class="badge badge-danger bidVoteStatus"></span><br><br>
                                        <label for="voteComment">Vote Comment</label>
                                        <textarea type="text" class="form-control vote-comment" id="voteComment" placeholder="Enter a reason for your support or rejection"></textarea><br><br>
                                        <a class="btn btn-sm btn-primary bid-vote-submit" data-task-author="${single.hive.parent_author}" data-task-permlink="${single.hive.parent_permlink}" data-author="${single.hive.author}" data-permlink=${single.hive.permlink}>SUBMIT</a>

                                        <a class="btn btn-sm btn-danger bid-vote-cancel" >CANCEL</a>
                                    </div>
                                    <hr>
                                </div>
                                    
                                <div class="card-footer text-muted text-right row" style="margin-right: 0px; margin-left: 0px;">
                                    <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="display: inline;">
                                        <span class="badge badge-light supportVal" style="margin-bottom: 3%;"><ion-icon name="thumbs-up"></ion-icon>Total Support Value: <br>${totalSupportValue} HP</span>

                                        <span class="badge badge-light rejectVal" style="margin-bottom: 3%;"><ion-icon name="thumbs-down"></ion-icon>Total Reject Value: <br>${totalRejectValue} HP</span>
                                        
                                        <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="cash-outline"></ion-icon>Task funding: <br> ${single.taskFunding}</span> 

                                        <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="person-outline"></ion-icon>Funded By: <br> ${taskFunder}</span> 
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 text-center selectionArea" style="display: inline;" data-bid-selected= "${single.otherData.selected}" data-task-selected="${single.selectedStatus}" data-task-funding="${single.taskFunding}" data-task-author="${single.hive.parent_author}">   
                                        <span class="selectBidPrivate">
                                            <button type="button" class="btn btn-light btn-sm select-bid-private" data-task-author="${single.hive.parent_author}" data-task-permlink="${single.hive.parent_permlink}" data-author="${single.hive.author}" data-permlink=${single.hive.permlink}><ion-icon name="checkmark-outline"></ion-icon>APPROVE</button>
                                            <button type="button" class="btn btn-light btn-sm selected-bid-private" disabled><ion-icon name="checkmark-circle-outline"></ion-icon>APPROVED</button>
                                        </span>
                                        
                                        <span class="selectBidPublic">
                                            <span class="downvoteOpen badge badge-light" data-author="${single.hive.author}" data-permlink=${single.hive.permlink} data-text="reject" style="margin-right: 2%;padding: 2%;cursor:pointer;">
                                                <ion-icon name="thumbs-down-outline"></ion-icon>
                                                <small>${rejectStatus}(${rejectLength})</small>
                                            </span>                      
                                        
                                            <span class="upvoteOpen badge badge-light" data-author="${single.hive.author}" data-permlink=${single.hive.permlink} data-text="support" style= "margin-right: 2%;padding: 2%;cursor:pointer;">
                                                <ion-icon name="thumbs-up-outline"></ion-icon>
                                            <small>${supportStatus}(${supportLength})</small>
                                            </span>
                                        </span> 
                                        

                                        <span class="badge badge-light" style="margin-top: 3%;"><ion-icon name="pulse-outline"></ion-icon>Proposal Status: <br><span class="proposalStatus">${proposalStatus}</span></span>
                                    </div>
                                </div>
                            </div><hr>`;
                        })
                        
                        $('#bidsView').html(bidsList)

                        
                    }
            }

            let selected_option
            let tasksArr

            selected_option = $('#myBidSelectBox option:selected').val();
            tasksArr = await getTaskOP(selected_option)

            await sortTasks(tasksArr)


            $(document).on('change', '#myBidSelectBox', async () => {
                selected_option =  $('#myBidSelectBox option:selected').val();
                tasksArr = await getTaskOP(selected_option)

                await sortTasks(tasksArr)
            });
        })
        
    </script>

     <script>
        $(document).on('click', '.downvoteOpen',  function () {
            const voteStatus = $(this).attr('data-text');
            $(this).parent().parent().parent().find('.bidDetail').find('.voteCommentArea').show();
            $(this).parent().parent().parent().find('.bidDetail').find('.voteCommentArea').find('.bidVoteStatus').text(voteStatus.toUpperCase())
        })
            
        $(document).on('click', '.upvoteOpen',  function () {
            const voteStatus = $(this).attr('data-text');
            $(this).parent().parent().parent().find('.bidDetail').find('.voteCommentArea').show();
            $(this).parent().parent().parent().find('.bidDetail').find('.voteCommentArea').find('.bidVoteStatus').text(voteStatus.toUpperCase())
        })
    </script>

    <script>
        $(document).on('click', '.bid-vote-cancel',  function () {
            $(this).parent().find('.bidVoteStatus').text('') 
            $(this).parent().hide();
            })
            
        $(document).on('click', '.bid-vote-submit',  function () {
            
                const getKeychainAuthStatus = localStorage.getItem('keychainAuth');



                const voter = localStorage.getItem('currentUser');
                const voteType = $(this).parent().find('.bidVoteStatus').text().toLowerCase();
                let voterHivePower;
                const voteTaskAuthor = $(this).attr('data-task-author')
                const voteTaskPermlink = $(this).attr('data-task-permlink')
                const voteBidAuthor = $(this).attr('data-author')
                const voteBidPermlink = $(this).attr('data-permlink')
                const voteBidComment = $(this).parent().find('.vote-comment').val();

                

                
                

                if (getKeychainAuthStatus === "true") {
                    hive.api.getAccounts([voter], async(err, response) => {
                        if (err) {console.log(err, response);}

                        if (response) {
                            console.log(response)
                            const vestingShares = response[0].vesting_shares;

                            const dynamicGlobalProps = await hive.api.getDynamicGlobalPropertiesAsync();
                            const totalVestingShares = dynamicGlobalProps.total_vesting_shares;
                            const totalVestingFund = dynamicGlobalProps.total_vesting_fund_hive;

                            voterHivePower = parseFloat(hive.formatter.vestToHive(vestingShares, totalVestingShares, totalVestingFund).toFixed(3));     

                            const voteObj = {        
                                voter,
                                voteType,
                                voterHivePower,
                                voteTaskAuthor,
                                voteTaskPermlink,
                                voteBidAuthor,
                                voteBidPermlink,
                                voteBidComment
                            };

                            const sendVote = await axios.post('/api/vote/bid', voteObj);

                            if (sendVote.data.message === 'success') {
                                $(this).text('SUPPORTED')
                                $(this).parent().hide();
                                $(this).css('cursor', 'default');
                            }
                            if (sendVote.data.message === 'duplicate vote found') {
                                alert('Seems you have voted this post before')
                            }
                        }
                    });
                } else {
                    alert('You must be logged in to perform any operations')
                }

            })
    </script>

        <script>
        $(document).on('click', '.select-bid-private', function() {
            const author = $(this).attr('data-author')
            const permlink = $(this).attr('data-permlink')
            const taskAuthor = $(this).attr('data-task-author')
            const taskPermlink = $(this).attr('data-task-permlink')

            

            axios.post('/api/select/bid', {
                author, permlink, taskAuthor, taskPermlink
            })
                .then(res => {
                    if (res.data.message === 'success') {
                        window.location.reload();
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        })
    </script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.selectionArea').each(function() {
                    const bidSelected = $(this).attr('data-bid-selected');
                    const taskSelected = $(this).attr('data-task-selected');
                    const taskFunding = $(this).attr('data-task-funding');
                    const taskAuthor = $(this).attr('data-task-author');
                    const username = localStorage.getItem('currentUser')


                    if (taskFunding === 'Privately(Closed Source)' || taskFunding === 'Privately(Open Source)') {
                        console.log('Askamaya')
                        $(this).find('.selectBidPublic').hide()
                        $(this).find('.proposalStatus').text('Recieving bids')
                        $(this).parent().find('.supportVal').hide()
                        $(this).parent().find('.rejectVal').hide()
                        $(this).find('.selectBidPrivate').children().each(function() {
                            if (bidSelected == "false" && taskSelected == "false" && taskAuthor == username && $(this).hasClass('select-bid-private')) {
                                $(this).show()
                            } else {
                                $(this).hide()
                            }
                        })
                    } else {
                        $(this).find('.selectBidPrivate').children().each(function() {
                            $(this).hide()
                        })
                    }

                    if (bidSelected == "true" && taskSelected == "true") {
                        $(this).find('.proposalStatus').text('Work Ongoing')
                        $(this).find('.selectBidPublic').hide()
                        $(this).find('.selectBidPrivate').children().each(function() {
                            if ($(this).hasClass('selected-bid-private')) {
                                $(this).show()
                            };

                            if ($(this).hasClass('select-bid-private')) {
                                $(this).hide()
                            };
                        })

                    }

                    if (bidSelected == "false" && taskSelected == "true") {
                        $(this).find('.selectBidPublic').hide()
                        $(this).find('.proposalStatus').text('Work Ongoing')
                        $(this).find('.selectBidPrivate').children().each(function() {
                            if ($(this).hasClass('selected-bid-private')) {
                                $(this).hide()
                            };

                            if ($(this).hasClass('select-bid-private')) {
                                $(this).hide()
                            };
                        })

                    }

                })
            }, 5000);
        })
    </script>
{% endblock %}

{% block css %}
    <style>
        /**#tasksView {
            margin: 5%;
        }**/

        #bid-area {
            margin-top: 5%;
        }

        .have-top-margin {
            margin: 5% 0;
        }

        ion-icon.isUpvoted {
            color: red;
        }
        ion-icon {
            cursor: pointer;
        }
    </style>
{% endblock %}