{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/inscrybmde@1.11.6/dist/inscrybmde.min.css">

    <style>
        .text-cont {
            padding-top: 2%;
        }

        .encloser {
            border: 1px solid black;
            border-radius: 25px;
            margin: 3% 10%;
            padding: 3% 5%;
        }

        .header-area {
            margin: 3% 10%; 
        }
    </style>
{% endblock %}

{% block content %}

    <h5 class="header-area text-center">Create New Task</h5>

    <div class="encloser">
        <div class="container mb-3 text-cont">
            <label for="taskTitle" class="form-label">Task Title</label>
            <input type="text" class="form-control" id="taskTitle" placeholder="Enter a Title for Your Task Here">
        </div>
        <div class="container mb-3 text-cont">
            <label for="MyEditor" class="form-label">Task Description</label>
            <textarea name="text" id="myEditor" placeholder="Enter detailed description of the scope of your task here" spellcheck="true"></textarea>
        </div>
        <!--<div class="container mb-3 text-cont">
            <label for="taskMilestones" class="form-label">Do you plan to break down your task completion into different milestones?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Yes">
                <label class="form-check-label" for="flexRadioDefault1">
                Yes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="No">
                <label class="form-check-label" for="flexRadioDefault2">
                No
                </label>
            </div>
        </div>-->
        
        <div class="container mb-3 text-cont">
            <p>Is this a lump sum or a cost reimbursible task?</p>
            <fieldset class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="lump">
                    <label class="form-check-label" for="exampleRadios1">
                      Lump sum(Per milestone, one time payment)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="reimbursible">
                    <label class="form-check-label" for="exampleRadios2">
                      Cost reimbursible(Ongoing contract)
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="container mb-3 text-cont" id="milestoneListArea">
            <p class="text-center"><b>Milestones</b></p>
            <div class="list-group" id="milestoneList">
            </div>
        </div>
        <div class="container mb-3 text-cont" id="taskMilestoneRecArea">
            <h5 class="text-center">Milestone Number: <span id="mileNoEl">1</span></h5>
            <label for="taskMilestoneRec" class="form-label">Enter Milestone Title</label>
            <input type="text" class="form-control" id="taskMilestoneRec" style="width: 100%;">
            <br>
            <label for="taskMilestoneDesc" class="form-label">Enter Milestone Details</label>
            <textarea name="text" class="form-control" id="taskMilestoneDesc"></textarea>
            <br><label for="taskMilestoneRec" class="form-label">Maximum bid allowable($)</label>
            <input type="number" class="form-control" id="taskMilestoneMaxPay" style="width: 100%;">
            <br>
            <label for="mileAnticipatedSpend" class="form-label">Total Anticipated Spend(Optional)</label>
            <input type="number" class="form-control" id="mileAnticipatedSpend" placeholder="Estimated amount you feel would complete the task">
            <br>
            <button type="button" class="btn btn-primary" id="addMilestone">Add Milestone</button>
        </div>
        <div class="container mb-3 text-cont" id="lineItemListArea">
            <p class="text-center"><b>Line Items</b></p>
            <div class="list-group" id="lineItemList">
            </div>
        </div>
        <div class="container mb-3 text-cont" id="taskLineItemRecArea">
            <h5 class="text-center">Line Item Number: <span id="lineItemNoEl">1</span></h5>
            <label for="taskLineItemRec" class="form-label">Enter Line Item Title</label>
            <input type="text" class="form-control" id="taskLineItemRec" style="width: 100%;">
            <br>
            <label for="taskLineItemDesc" class="form-label">Enter Line Item Details</label>
            <textarea name="text" class="form-control" id="taskLineItemDesc"></textarea>
            <br><label for="taskLineItemMaxPay" class="form-label">Maximum bid allowable($)</label>
            <input type="number" class="form-control" id="taskLineItemMaxPay" style="width: 100%;">
            <br>
            <label for="lineAnticipatedSpend" class="form-label">Total Anticipated Spend(Optional)</label>
            <input type="number" class="form-control" id="lineAnticipatedSpend" placeholder="Estimated amount you feel would complete the task">
            <br>
            <button type="button" class="btn btn-primary" id="addLineItem">Add Line Item</button>
        </div>
        <div class="container mb-3 text-cont" id="taskDurationArea">
            <label for="taskDurationReim" class="form-label">Task Duration(Renewal in days)</label>
            <input type="number" class="form-control" id="taskDurationReim">
        </div>
        <div class="container mb-3 text-cont">
            <label for="taskBidAccept" class="form-label">What date does bidding close?(In days)</label>
            <input type="number" class="form-control" id="taskBidAccept">
        </div>
        <div class="container mb-3 text-cont">
            <label for="taskFunding" class="form-label">How do you plan to fund operations for this task?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefaultNext" id="flexRadioDefault3" value="SPK Network DAO(Open Source)">
                <label class="form-check-label" for="flexRadioDefault3">
                SPK Network DAO(Open Source)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefaultNext" id="flexRadioDefault4" value="Privately(Closed Source)">
                <label class="form-check-label" for="flexRadioDefault4">
                Privately(Closed Source)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefaultNext" id="flexRadioDefault4" value="Privately(Open Source)">
                <label class="form-check-label" for="flexRadioDefault4">
                Privately(Open Source)
                </label>
            </div>
        </div>
        <div class="container mb-3 text-cont center" id="taskBtnArea">
            <button type="button" class="btn btn-primary" id="taskSubmit">Submit</button>
        </div>
    </div>
    

{% endblock %}

{% block js %}  
    <script src="https://cdn.jsdelivr.net/npm/inscrybmde@1.11.6/dist/inscrybmde.min.js"></script>
    <script>
        var inscrybmde = new InscrybMDE({
            element: document.getElementById("myEditor"),
            spellChecker: false
        });
    </script>
    <script>
        $(document).ready(async () => {
            const locationUrl = window.location.pathname

            let locationSearch = locationUrl.search('create')


            if (locationSearch !== -1) {
                const theToken = localStorage.getItem('auth_token');

                console.log('create tasks page')
                if (!theToken) {
                    window.location.replace('/')


                }

                if (theToken) {
                    console.log('verified')
                    
                    const author = localStorage.getItem('currentUser');

                    // Read a page's GET URL variables and return them as an associative array.
                    function getUrlVars()
                    {
                        var vars = [], hash;
                        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                        for(var i = 0; i < hashes.length; i++)
                        {
                            hash = hashes[i].split('=');
                            console.log({hash: hash})
                            //vars.push(hash[0]);
                            vars[hash[0]] = hash[1];
                        }
                        return vars;
                    }

                    const pageParams = getUrlVars();
                    let currentTask = {};
                
                    if(pageParams['permlink']) {
                        const permlink = pageParams['permlink']

                        currentTask = await axios.post('/api/task', {
                            author, permlink
                        });
                        $('#taskBtnArea').html(`<button type="button" class="btn btn-primary" id="taskEdit">Edit</button>`)
                    } else {
                        currentTask = await axios.get(`/api/current/${author}`)
                    }

                    $('#taskTitle').val(currentTask.data.task.finalDataObj.taskTitle);
                    $('input[name="flexRadioDefault"]').val(currentTask.data.task.finalDataObj.taskMilestoneStatus);
                    $('#taskBidAccept').val(currentTask.data.task.finalDataObj.taskBidAccept);

                    inscrybmde.value(currentTask.data.task.finalDataObj.taskDesc);

                    let milestones = []
                    let milestonesFinal = []

                    let lineItems = []
                    let lineItemsFinal = []

                    if (currentTask.data.task.finalDataObj.paymentMode === 'lump') {
                        $("#exampleRadios1"). attr('checked', true);
                        $('#taskMilestoneRecArea').show();
                        $('#milestoneListArea').show();
                        console.log('lump sum is allowed');
                        currentTask.data.task.finalDataObj.milestonesFinal.forEach(function (one) {
                            const theMilestone = one.theMilestone
                            const theMilestoneDesc = one.theMilestoneDesc
                            let theMilestoneMaxPay = one.theMilestoneMaxPay
                            let theMilestoneExpectedCost = one.theMilestoneExpectedCost

                            if (!theMilestoneMaxPay) {
                                theMilestoneMaxPay = 'Maximum bid allowable not set'
                            }

                            if (!theMilestoneExpectedCost) {
                                theMilestoneExpectedCost = 'Total anticipated spend for this milestone not set'
                            }

                            const milestoneEl = 
                                `<a class="list-group-item list-group-item-action eachMilestone" style="cursor: auto;">
                                    <center><small class="text-center">Click on any of the text to edit the milestone</small></center><br>
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1"><b>${$('.eachMilestone').length + 1}) <span class="milestoneItem" contentEditable="true">${theMilestone}</span></b></h6>
                                        <small style="cursor: pointer;" class="deleteMilestone"><ion-icon name="close-outline"></ion-icon></small>
                                    </div>
                                    <p class="mb-1 milestoneItemDesc" contentEditable="true">${theMilestoneDesc}</p><br>
                                    <p class="mb-1"><b>Maximum bid allowable</b></p>
                                    <p class="mb-1 milestoneItemMaxPay" contentEditable="true">${theMilestoneMaxPay}</p><br>
                                    <p class="mb-1"><b>Total anticipated spend for this milestone($)</b><br></p>
                                    <p class="mb-1 totalAnticipatedSpendText" contentEditable="true">${theMilestoneExpectedCost}</p><br>
                                </a>`

                            $('#milestoneList').append(milestoneEl)
                            
                            $('#mileNoEl').html(`${$('.eachMilestone').length + 1}`)
                        })
                    } 
                    if (currentTask.data.task.finalDataObj.paymentMode === 'reimbursible')  {
                        $("#exampleRadios2"). attr('checked', true);       
                        $('#taskLineItemRecArea').show();
                        $('#taskDurationArea').show()
                        $('#taskDurationReim').val(currentTask.data.task.finalDataObj.taskDuration)
                        currentTask.data.task.finalDataObj.lineItemsFinal.forEach(function (one) {
                            const theLineItem = one.theLineItem
                            const theLineItemDesc = one.theLineItemDesc
                            let theLineItemMaxPay = one.theLineItemMaxPay
                            let theLineItemExpectedCost = one.theLineItemExpectedCost

                            if (!theLineItemMaxPay) {
                                theLineItemMaxPay = 'Maximum bid allowable'
                            }

                            
                            if (!theLineItemExpectedCost) {
                                theLineItemExpectedCost = 'Total anticipated spend for this line item not set'
                            }

                            const lineItemEl = 
                                `<a class="list-group-item list-group-item-action eachLineItem" style="cursor: auto;">
                                    <center><small class="text-center">Click on any of the text to edit the line items</small></center><br>
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1"><b>${$('.eachLineItem').length + 1}) <span class="lineItem" contentEditable="true">${theLineItem}</span></b></h6>
                                        <small style="cursor: pointer;" class="deleteLineItem"><ion-icon name="close-outline"></ion-icon></small>
                                    </div>
                                    <p class="mb-1 lineItemDesc" contentEditable="true">${theLineItemDesc}</p><br>
                                    <p class="mb-1"><b>Maximum bid allowable</b></p>
                                    <p class="mb-1 lineItemMaxPay" contentEditable="true">${theLineItemMaxPay}</p><br>
                                    <p class="mb-1"><b>Total anticipated spend for this line item($)</b><br></p>
                                    <p class="mb-1 totalAnticipatedSpendText" contentEditable="true">${theLineItemExpectedCost}</p><br>
                                </a>`

                            $('#lineItemList').append(lineItemEl)
                            
                            $('#lineItemNoEl').html(`${$('.eachLineItem').length + 1}`)
                        })
                    }

                    if (currentTask.data.task.finalDataObj.taskFunding === 'SPK Network DAO(Open Source)') {
                        $("#flexRadioDefault3"). attr('checked', true);
                    } else {
                        $("#flexRadioDefault4"). attr('checked', true);
                    }
                }
            }

            if (locationSearch === -1) {
                const theToken = localStorage.getItem('auth_token');

                console.log('create tasks page')
                if (!theToken) {
                    window.location.replace('/')
                }

                if (theToken) {
                    const name = localStorage.getItem('currentUser');
                    window.location.replace(`/${name}/create`)
                }
            }
        })
    </script>

    <script>
        $('#taskSubmit').click(async () => {
            const taskTitle = $('#taskTitle').val();
            const taskMilestoneStatus = $('input[name="flexRadioDefault"]:checked').val();
            const taskBidAccept = $('#taskBidAccept').val();
            const taskFunding = $('input[name="flexRadioDefaultNext"]:checked').val();
            const returnProposal = $('input[name="flexReturnProposal"]:checked').val();
            var taskDesc = inscrybmde.value();
            
            const paymentMode = $("input[name='exampleRadios']:checked").val();
            const taskDuration =
            $('#taskDurationReim').val()

            let milestones = []
            let milestonesFinal = []

            let lineItems = []
            let lineItemsFinal = []

            if (paymentMode === 'lump') {
                $('.eachMilestone').each(function () {
                    const theMilestone = $(this).find('.milestoneItem').text()
                    const theMilestoneDesc = $(this).find('.milestoneItemDesc').text()
                    const theMilestoneMaxPay =  $(this).find('.milestoneItemMaxPay').text()
                    const theMilestoneExpectedCost = $(this).find('.totalAnticipatedSpendText').text()

                    

                    let milestonesHiveText = ``;

                    if (theMilestoneMaxPay.length > 0) {
                        milestonesHiveText = `<h5>${theMilestone}</h5><br><p>${theMilestoneDesc}</p><br><p>Maximum bid allowable for this milestone is $${theMilestoneMaxPay}</p><br>`
                    } 
                    
                    if (theMilestoneExpectedCost.length > 0) {
                        milestonesHiveText += `<br><p>Total anticipated spend for this milestone is $${theMilestoneExpectedCost}</p>`
                    } else {
                        milestonesHiveText = `<h5>${theMilestone}</h5><br><p>${theMilestoneDesc}</p><br>`
                    }

                    milestones.push(`${milestonesHiveText}`);
                    milestonesFinal.push({theMilestone, theMilestoneDesc, theMilestoneMaxPay, theMilestoneExpectedCost, theMilestoneStatus: false});
               })

               if (milestones.length == 0 && milestonesFinal.length == 0) {
                    milestones.push(`<p>No milestones added</p><br>`)
                    milestonesFinal.push({theMilestone: '', theMilestoneDesc: 'No milestones added'});
               }
            } 
            if (paymentMode === 'reimbursible') {
                $('.eachLineItem').each(function () {
                    const theLineItem = $(this).find('.lineItem').text()
                    const theLineItemDesc = $(this).find('.lineItemDesc').text()
                    const theLineItemMaxPay =  $(this).find('.lineItemMaxPay').text()
                    const theLineItemExpectedCost = $(this).find('.totalAnticipatedSpendText').text()

                    let lineItemHiveText = ``;

                    if (theLineItemMaxPay.length > 0) {
                        lineItemHiveText = `<h5>${theLineItem}</h5><br><p>${theLineItemDesc}</p><br><p>Maximum bid allowable for this milestone is $${theLineItemMaxPay}</p>`
                    } 
                    
                    if (theLineItemExpectedCost.length > 0) {
                        lineItemHiveText += `<br><p>Total anticipated spend for this milestone is $${theLineItemExpectedCost}</p>`
                    } else {
                        lineItemHiveText = `<h5>${theLineItem}</h5><br><p>${theLineItemDesc}</p><br>`
                    }

                    lineItems.push(`${lineItemHiveText}`);
                    lineItemsFinal.push({theLineItem, theLineItemDesc, theLineItemMaxPay, theLineItemExpectedCost, theLineItemStatus: false});
               })

               if (lineItems.length == 0 && lineItemsFinal.length == 0) {
                    lineItems.push(`<p>No milestones added</p><br>`)
                    lineItemsFinal.push({theLineItem: '', theLineItemDesc: 'No milestones added'});
               }
            }

            let finalDataObj = {
                taskTitle,
                taskMilestoneStatus,
                taskBidAccept,
                taskFunding,
                taskDesc,
                milestonesFinal,
                milestones,
                paymentMode,
                returnProposal,
                taskDuration,
                lineItems,
                lineItemsFinal
            }


            let milestonesText = `<b>Milestones</b><br>${milestones}`

            if (paymentMode === 'reimbursible') {
                milestonesText = `<b>Line Items</b><br>${lineItems}`
            }

            const getKeychainAuthStatus = localStorage.getItem('keychainAuth');

            const author = localStorage.getItem('currentUser');
            const parentAuthor = '';
            const parentTitleLower = taskTitle.toLowerCase();         
            const parentPermlinkInit = parentTitleLower.replace(/ /g, '-');
            const parentPermlinkInitEx = parentPermlinkInit.replace(/'?!.`;:/g, '');        
            const colonpermlink = parentPermlinkInitEx.replace(/,/g, '');

            let permlink = colonpermlink.replace(/:/g, '');

            permlink = permlink.replace(/\\|\//g,'') ;
            const parentPermlink = 's'
            const body = `<b>Description</b><br>${taskDesc}<hr>${milestonesText}<hr><b>Accepting bid submissions for how long?</b><br>${taskBidAccept} days<hr><b>How do you plan to fund this proposal</b><br>${taskFunding}<br>`
            const jsonMetadata = {tags: ['s'], app: 'speakbounties' }

            const comment = {
                parent_author: parentAuthor,
                parent_permlink: parentPermlink,
                author,
                permlink,
                title: taskTitle,
                body,
                json_metadata: JSON.stringify(jsonMetadata)
            };

            const operation = ['comment', comment]

            /*const comment = {
                author: 'gotgame',
                permlink: 'and-this-also-happens-to-be-a-test',
            };

            const operation = ['delete_comment', comment]*/
            console.log('Bout to save')

            const broadcastOp = []

            if (
                    taskTitle.length > 0
                    &&
                    taskDesc.length > 0
                    &&
                    ($('#exampleRadios1').prop("checked") == true
                    ||
                    $('#exampleRadios2').prop("checked") == true)
                    &&
                    taskBidAccept.length > 0
                    &&
                    ($('#flexRadioDefault3').prop("checked") == true
                    ||
                    $('#flexRadioDefault4').prop("checked") == true)
                ) {
                    if (getKeychainAuthStatus === "true") {
                        hive_keychain.requestBroadcast(author, [operation], 'Posting', function(response) {
                            if (response.success) {
                                console.log("I'ma do it")
                                axios.post('/api/create', {
                                    comment,
                                    finalDataObj
                                }).then(async (task) => {
                                    if(task.data.message == 'success') {
                                        const author = localStorage.getItem('currentUser');

                                        // create proposal here

                                        //hive_keychain.requestBroadcast()

                                        // proposal creation end

                                        const loggedIn= '{{loggedIn}}'
                                        
                                        await axios.post(`/api/current/${author}`)
                                        window.location.replace(`/success?username=${author}&loggedIn=${loggedIn}`)
                                    }
                                }).catch((err) => {
                                    alert('There was an error, please try again now or later');
                                })
                            }
                        });
                    }

                    if (getKeychainAuthStatus === "false") {
                        const wif = localStorage.getItem('currentUserPass')
                        hive.broadcast.comment(wif, '', parentPermlink, author, permlink, taskTitle, body, JSON.stringify(jsonMetadata), function(err, response) {
                            if (err) {
                                alert('There was an error, please try again now or later')
                            }
                            if (response) {
                                console.log("I'ma do it posting")
                                axios.post('/api/create', {
                                    comment,
                                    finalDataObj
                                }).then(async (task) => {
                                    if(task.data.message == 'success') {
                                        const author = localStorage.getItem('currentUser');

                                        // create proposal here

                                        //hive_keychain.requestBroadcast()

                                        // proposal creation end

                                        const loggedIn= '{{loggedIn}}'
                                        
                                        await axios.post(`/api/current/${author}`, {})
                                        window.location.replace(`/success?username=${author}&loggedIn=${loggedIn}`)
                                    }
                                }).catch((err) => {
                                    alert('There was an error, please try again now or later');
                                })
                            }
                        });
                    }            
            } else {
                alert('All fields are required')
            }

            
        })
    </script>

    <script>

        // Read a page's GET URL variables and return them as an associative array.
        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                console.log({hash: hash})
                //vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        const pageParams = getUrlVars();

        if(pageParams['permlink']) {
        } else {
            function saveCurrent(current) {
            axios.post('/api/current', {
                    current
                }).then(res => {
                }).catch(err => {
                    console.log(err)
                })
            }

            setInterval(function() {
                const taskTitle = $('#taskTitle').val();
                const taskMilestoneStatus = $('input[name="flexRadioDefault"]:checked').val();
                const taskBidAccept = $('#taskBidAccept').val();
                const taskFunding = $('input[name="flexRadioDefaultNext"]:checked').val();
                const returnProposal = $('input[name="flexReturnProposal"]:checked').val();
                const paymentMode = $("input[name='exampleRadios']:checked").val();
                var taskDesc = inscrybmde.value();
                const author = localStorage.getItem('currentUser');
                const taskDuration = 
                $('#taskDurationReim').val()

                let milestones = []
                let milestonesFinal = []

                let lineItems = []
                let lineItemsFinal = []

                if (paymentMode === 'lump') {
                    $('.eachMilestone').each(function () {
                        const theMilestone = $(this).find('.milestoneItem').text()
                        const theMilestoneDesc = $(this).find('.milestoneItemDesc').text()
                        const theMilestoneMaxPay = $(this).find('.milestoneItemMaxPay').text()
                        const theMilestoneExpectedCost = $(this).find('.totalAnticipatedSpendText').text()

                        let milestonesHiveText = ``;

                        if (theMilestoneMaxPay.length > 0) {
                            milestonesHiveText = `<h5>${theMilestone}</h5><br><p>${theMilestoneDesc}</p><br><p>Maximum bid allowable for this milestone is $${theMilestoneMaxPay}</p><br>`
                        } 
                        
                        if (theMilestoneExpectedCost.length > 0) {
                            milestonesHiveText += `<br><p>Total anticipated spend for this milestone is $${theMilestoneExpectedCost}</p>`
                        } else {
                            milestonesHiveText = `<h5>${theMilestone}</h5><br><p>${theMilestoneDesc}</p><br>`
                        }

                        milestones.push(`${milestonesHiveText}`);
                        milestonesFinal.push({theMilestone, theMilestoneDesc, theMilestoneMaxPay,
                        theMilestoneExpectedCost, theMilestoneStatus: false});
                    })
                } 
                if (paymentMode === 'reimbursible') {
                    $('.eachLineItem').each(function () {
                        const theLineItem = $(this).find('.lineItem').text()
                        const theLineItemDesc = $(this).find('.lineItemDesc').text()
                        const theLineItemMaxPay =  $(this).find('.lineItemMaxPay').text()
                        const theLineItemExpectedCost = $(this).find('.totalAnticipatedSpendText').text()

                    
                        let lineItemHiveText = ``;

                        if (theLineItemMaxPay.length > 0) {
                            lineItemHiveText = `<h5>${theLineItem}</h5><br><p>${theLineItemDesc}</p><br><p>Maximum bid allowable for this milestone is $${theLineItemMaxPay}</p><br>`
                        } 
                    
                        if (theLineItemExpectedCost.length > 0) {
                            lineItemHiveText += `<br><p>Total anticipated spend for this milestone is $${theLineItemExpectedCost}</p>`
                        } else {
                            lineItemHiveText = `<h5>${theLineItem}</h5><br><p>${thelineItemDesc}</p><br>`
                        }

                        lineItems.push(`${lineItemHiveText}`);
                        lineItemsFinal.push({theLineItem, theLineItemDesc, theLineItemMaxPay, theLineItemExpectedCost,  theLineItemStatus: false});
                    })

                    if (lineItems.length == 0 && lineItemsFinal.length == 0) {
                        lineItems.push(`<p>No milestones added</p><br>`)
                        lineItemsFinal.push({theLineItem: '', theLineItemDesc: 'No milestones added'});
                    }
                }

                let finalDataObj = {
                    taskTitle,
                    taskMilestoneStatus,
                    taskBidAccept,
                    taskFunding,
                    taskDesc,
                    milestonesFinal,
                    milestones,
                    paymentMode,
                    returnProposal,
                    taskDuration,
                    lineItems,
                    lineItemsFinal
                }
            
                // console.log(taskFunding);
                saveCurrent({author ,finalDataObj})
            }, 5000)
        }
        
    </script>

    <script>
        $(document).ready(async () => {
            $('#taskMilestoneRecArea').hide()
            $('#taskLineItemRecArea').hide();
            $('#milestoneListArea').hide()
            $('#taskDurationArea').hide()
        })    
    </script>
    <script>
        $('#exampleRadios1').click(async () => {
            $('#taskMilestoneRecArea').show()
            $('#milestoneListArea').show()
            $('#taskDurationArea').hide()
            $('#taskLineItemRecArea').hide();
        })
    </script>
    <script>
        $('#exampleRadios2').click(async () => {
            $('#taskMilestoneRecArea').hide()
            $('#milestoneListArea').hide()
            $('#taskDurationArea').show()
            $('#taskLineItemRecArea').show();
        })
    </script>
    <script>
        $('#addMilestone').click(async () => {
            const milestone = $('#taskMilestoneRec').val()
            const milestoneDesc = $('#taskMilestoneDesc').val()
            let milestoneMaxPay = $('#taskMilestoneMaxPay').val()
            let totalAnticipatedSpend =  $('#mileAnticipatedSpend').val()

            if (!milestoneMaxPay) {
                milestoneMaxPay = 'Maximum bid allowable not set'
            }

            if (!totalAnticipatedSpend) {
                totalAnticipatedSpend = 'Total anticipated spend not set'
            }

            //const milestoneEl = `<li class="list-group-item milestoneItem">${milestone}</li>`;

            const milestoneEl = 
            `<a class="list-group-item list-group-item-action eachMilestone" style="cursor: auto;">
                <center><small class="text-center">Click on any of the text to edit the milestone</small></center><br>
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1"><b>${$('.eachMilestone').length + 1}) <span class="milestoneItem" contentEditable="true">${milestone}</span></b></h6>
                    <small style="cursor: pointer;" class="deleteMilestone"><ion-icon name="close-outline"></ion-icon></small>
                </div>
                <p class="mb-1 milestoneItemDesc" contentEditable="true">${milestoneDesc}</p><br>
                <p class="mb-1"><b>Maximum bid allowable($)<br></p>
                <p class="mb-1 milestoneItemMaxPay" contentEditable="true">${milestoneMaxPay}</p><br>
                <p class="mb-1"><b>Total anticipated spend for this milestone($)<br></p>
                <p class="mb-1 totalAnticipatedSpendText" contentEditable="true">${totalAnticipatedSpend}</p><br>
            </a>`

            $('#milestoneList').append(milestoneEl)
            $('#mileNoEl').html(`${$('.eachMilestone').length + 1}`)
            $('#taskMilestoneRec').val('')
            $('#taskMilestoneDesc').val('')
            $('#taskMilestoneMaxPay').val('')
            $('#mileAnticipatedSpend').val('')
        })
    </script>
    <script>
        $('#addLineItem').click(async () => {
            const lineItem = $('#taskLineItemRec').val()
            const lineItemDesc = $('#taskLineItemDesc').val()
            let lineItemMaxPay = $('#taskLineItemMaxPay').val()
            let totalAnticipatedSpend =  $('#lineAnticipatedSpend').val()

            if (!lineItemMaxPay) {
                lineItemMaxPay = 'Maximum bid allowable'
            }    

            if (!totalAnticipatedSpend) {
                totalAnticipatedSpend = 'Total anticipated spend not set'
            }


            //const milestoneEl = `<li class="list-group-item milestoneItem">${milestone}</li>`;

            const lineItemEl = 
            `<a class="list-group-item list-group-item-action eachLineItem" style="cursor: auto;">
                <center><small class="text-center">Click on any of the text to edit the line item</small></center><br>
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1"><b>${$('.eachLineItem').length + 1}) <span class="lineItem" contentEditable="true">${lineItem}</span></b></h6>
                    <small style="cursor: pointer;" class="deleteLineItem"><ion-icon name="close-outline"></ion-icon></small>
                </div>
                <p class="mb-1 lineItemDesc" contentEditable="true">${lineItemDesc}</p><br>
                <p class="mb-1"><b>Maximum bid allowable($)</b><br></p>
                <p class="mb-1 lineItemMaxPay" contentEditable="true">${lineItemMaxPay}</p><br>
                <p class="mb-1"><b>Total anticipated spend for this line item($)</b><br></p>
                <p class="mb-1 totalAnticipatedSpendText" contentEditable="true">${totalAnticipatedSpend}</p><br>
            </a>`

            $('#lineItemList').append(lineItemEl)
            $('#lineItemNoEl').html(`${$('.eachLineItem').length + 1}`)
            $('#taskLineItemRec').val('')
            $('#taskLineItemDesc').val('')
            $('#taskLineItemMaxPay').val('')
            $('#lineAnticipatedSpend').val('')
        })
    </script>
    <script>
        $(document).on('click', '.deleteMilestone', function(e) {
            e.preventDefault()
            $(this).parent().parent().remove();
            $('#mileNoEl').html(`${$('.eachMilestone').length + 1}`)
        })
    </script>

    
    <script>
        $(document).on('click', '.deleteLineItem', function(e) {
            e.preventDefault()
            $(this).parent().parent().remove();
            $('#lineItemNoEl').html(`${$('.eachLineItem').length + 1}`)
        })
    </script>

    <script>
        $(document).on('click', '#taskEdit', async () => {
            const taskTitle = $('#taskTitle').val();
            const taskMilestoneStatus = $('input[name="flexRadioDefault"]:checked').val();
            const taskBidAccept = $('#taskBidAccept').val();
            const taskFunding = $('input[name="flexRadioDefaultNext"]:checked').val();
            const returnProposal = $('input[name="flexReturnProposal"]:checked').val();
            var taskDesc = inscrybmde.value();
            
            const paymentMode = $("input[name='exampleRadios']:checked").val();
            const taskDuration =
            $('#taskDurationReim').val()

            let milestones = []
            let milestonesFinal = []

            let lineItems = []
            let lineItemsFinal = []

            if (paymentMode === 'lump') {
                $('.eachMilestone').each(function () {
                    const theMilestone = $(this).find('.milestoneItem').text()
                    const theMilestoneDesc = $(this).find('.milestoneItemDesc').text()
                    const theMilestoneMaxPay =  $(this).find('.milestoneItemMaxPay').text()
                    const theMilestoneExpectedCost = $(this).find('.totalAnticipatedSpendText').text()

                    
                    let milestonesHiveText = ``;

                    if (theMilestoneMaxPay.length > 0) {
                        milestonesHiveText = `<h5>${theMilestone}</h5><br><p>${theMilestoneDesc}</p><br><p>Maximum bid allowable for this milestone is $${theMilestoneMaxPay}</p><br>`
                    } 
                    
                    if (theMilestoneExpectedCost.length > 0) {
                        milestonesHiveText += `<br><p>Total anticipated spend for this milestone is $${theMilestoneExpectedCost}</p>`
                    } else {
                        milestonesHiveText = `<h5>${theMilestone}</h5><br><p>${theMilestoneDesc}</p><br>`
                    }

                    milestones.push(`${milestonesHiveText}`);
                    milestonesFinal.push({theMilestone, theMilestoneDesc, theMilestoneMaxPay, theMilestoneExpectedCost, theMilestoneStatus: false});
               })

               if (milestones.length == 0 && milestonesFinal.length == 0) {
                    milestones.push(`<p>No milestones added</p><br>`)
                    milestonesFinal.push({theMilestone: '', theMilestoneDesc: 'No milestones added'});
               }
            } 
            if (paymentMode === 'reimbursible')  {
                $('.eachLineItem').each(function () {
                    const theLineItem = $(this).find('.lineItem').text()
                    const theLineItemDesc = $(this).find('.lineItemDesc').text()
                    const theLineItemMaxPay =  $(this).find('.lineItemMaxPay').text()
                    const theLineItemExpectedCost = $(this).find('.totalAnticipatedSpendText').text()

                    

                    let lineItemHiveText = ``;

                    if (theLineItemMaxPay.length > 0) {
                        lineItemHiveText = `<h5>${theLineItem}</h5><br><p>${theLineItemDesc}</p><br><p>Maximum bid allowable for this milestone is $${theLineItemMaxPay}</p><br>`
                    } 
                    
                    if (theLineItemExpectedCost.length > 0) {
                        lineItemHiveText += `<br><p>Total anticipated spend for this milestone is $${theLineItemExpectedCost}</p>`
                    } else {
                        lineItemHiveText = `<h5>${theLineItem}</h5><br><p>${thelineItemDesc}</p><br>`
                    }

                    lineItems.push(`${lineItemHiveText}`);
                    lineItemsFinal.push({theLineItem, theLineItemDesc, theLineItemMaxPay, theLineItemExpectedCost, theLineItemStatus: false});
               })

               if (lineItems.length == 0 && lineItemsFinal.length == 0) {
                    lineItems.push(`<p>No milestones added</p><br>`)
                    lineItemsFinal.push({theLineItem: '', theLineItemDesc: 'No milestones added'});
               }
            }

            let finalDataObj = {
                taskTitle,
                taskMilestoneStatus,
                taskBidAccept,
                taskFunding,
                taskDesc,
                milestonesFinal,
                milestones,
                paymentMode,
                returnProposal,
                taskDuration,
                lineItems,
                lineItemsFinal
            }

            let milestonesText = `<b>Milestones</b><br>${milestones}`

            if (paymentMode === 'reimbursible') {
                milestonesText = `<b>Line Items</b><br>${lineItems}`
            }

            const getKeychainAuthStatus = localStorage.getItem('keychainAuth');

            const author = localStorage.getItem('currentUser');
            const parentAuthor = '';
            const parentTitleLower = taskTitle.toLowerCase();         
            const parentPermlinkInit = parentTitleLower.replace(/ /g, '-');
            const parentPermlinkInitEx = parentPermlinkInit.replace(/'?!.`;:/g, '');        
            const colonpermlink = parentPermlinkInitEx.replace(/,/g, '');

            let permlink = colonpermlink.replace(/:/g, '');

            permlink = permlink.replace(/\\|\//g,'') ;
            const parentPermlink = 's'
            const body = `<center><b>Description</b></center><center>${taskDesc}</center><hr><center><b>Milestones</b></center><center>${milestones}</center><hr><center><b>Accepting bid submissions for how long?</b></center><center>${taskBidAccept} days</center><hr><center><b>How do you plan to fund this proposal</b></center><center>${taskFunding}</center>`
            const jsonMetadata = {tags: ['s'], app: 'speakbounties' }

            const comment = {
                parent_author: parentAuthor,
                parent_permlink: parentPermlink,
                author,
                permlink,
                title: taskTitle,
                body,
                json_metadata: JSON.stringify(jsonMetadata)
            };

            const operation = ['comment', comment]

            /*const comment = {
                author: 'gotgame',
                permlink: 'and-this-also-happens-to-be-a-test',
            };

            const operation = ['delete_comment', comment]*/
            console.log('Bout to save')

            const broadcastOp = []

            if (
                    taskTitle.length > 0
                    &&
                    taskDesc.length > 0
                    &&
                    ($('#exampleRadios1').prop("checked") == true
                    ||
                    $('#exampleRadios2').prop("checked") == true)
                    &&
                    taskBidAccept.length > 0
                    &&
                    ($('#flexRadioDefault3').prop("checked") == true
                    ||
                    $('#flexRadioDefault4').prop("checked") == true)
                ) {
                    if (getKeychainAuthStatus === "true") {
                        hive_keychain.requestBroadcast(author, [operation], 'Posting', function(response) {
                            if (response.success) {
                                console.log("I'ma do it")
                                axios.post('/api/edit', {
                                    comment,
                                    finalDataObj
                                }).then(async (task) => {
                                    console.log({task: task})
                                    if(task.data.message == 'success') {
                                        const author = localStorage.getItem('currentUser');

                                        // create proposal here

                                        //hive_keychain.requestBroadcast()

                                        // proposal creation end

                                        window.location.replace(window.location.origin)
                                    }
                                }).catch((err) => {
                                    alert('There was an error, please try again now or later');
                                })
                            }
                        });
                    }

                    if (getKeychainAuthStatus === "false") {
                        const wif = localStorage.getItem('currentUserPass')
                        hive.broadcast.comment(wif, '', parentPermlink, author, permlink, taskTitle, body, JSON.stringify(jsonMetadata), function(err, response) {
                            if (err) {
                                alert('There was an error, please try again now or later')
                            }
                            if (response) {
                                console.log("I'ma do it posting")
                                axios.post('/api/edit', {
                                    comment,
                                    finalDataObj
                                }).then(async (task) => {
                                    if(task.data.message == 'success') {
                                        const author = localStorage.getItem('currentUser');

                                        // create proposal here

                                        //hive_keychain.requestBroadcast()

                                        // proposal creation end
                                        window.location.replace(window.location.origin)
                                    }
                                }).catch((err) => {
                                    alert('There was an error, please try again now or later');
                                })
                            }
                        });
                    }            
            } else {
                alert('All fields are required')
            }

            
        })
    </script>
{% endblock %}