{% extends 'layout.twig' %}

{% block content %}
    <div class="row alert-created">
        <div class="alert alert-dark text-center" role="alert">
            <br><br>
            <b>Congratulations <span class="text-white">{{username}}</span>,  your task has been published to the chain. <br>
            Bids for community funded proposals will be selected automatically based on number of votes after bid submission deadline has passed!</b><br><br>
            <a href="/" class="text-center btn btn-success btn-small">HEAD BACK TO THE HOMEPAGE</a>
            <br><br>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const theToken = localStorage.getItem('auth_token');

        let loggedIn = '{{loggedIn}}';
        let username = '{{username}}'

        if (!theToken && (username === 'null' || loggedIn !== 'true')) {
            window.location.replace(`/`)
        }
    </script>
{% endblock %}

{% block css %}
    <style>
        .alert-created {
            padding: 5% 0;
            display: flex;
            justify-content: center;
        }

        /*Media Queries for fixing distortion at some points*/

        @media screen and (max-width: 1150px){
            .alert-created {
                padding: 5% 0;
                display: flex;
                justify-content: center;
            }

        }

        /*Media Queries For Tablets*/

        @media screen and (max-width: 1024px){
            .alert-created {
                padding: 30% 0;
                display: flex;
                justify-content: center;
            }
        }

        @media screen and (max-width: 960px){
            .alert-created {
                padding: 30% 0;
                display: flex;
                justify-content: center;
            }
        }

        @media screen and (max-width:768px){
            .alert-created {
                padding: 30% 0;
                display: flex;
                justify-content: center;
            }
        }

        /*Media Queries For Mobiles*/
        @media screen and (max-width:480px){
            .alert-created {
                padding: 30% 0;
                display: flex;
                justify-content: center;
            }
        }

        @media screen and (max-width:300px){
            .alert-created {
                padding: 30% 0;
                display: flex;
                justify-content: center;
            }
        }
    </style>
{% endblock %}