{% extends 'layout.twig' %}

{% block content %}
    {% if loggedIn == false %}
        <div class="jumbotron">
            <h1>SpeakBounties</h1>
            <p>Welcome to Speak Network's bounties and proposal platform built on Hive, here you can submit proposals that can help grow the Speak Network and receive bids on your proposals</p>
        </div>
    {% endif %}
    

    <div id="task-area" class="container">
        <select class="form-control" id="mySelectBox">
            <option value="all" class="task-sel-option">All Tasks</option>
        </select>

        <div id="tasksView">
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(async () => {
            const locationUrl = window.location.pathname

            let locationSearch = locationUrl.search('tasks')


            if (locationSearch !== -1) {
                const theToken = localStorage.getItem('auth_token');

                console.log('tasks page')
                if (!theToken) {
                    window.location.replace('/')
                }

                if (theToken) {
                    console.log('verified')
                    const name = localStorage.getItem('currentUser');
                    let currentUserSearch = locationUrl.search(name)
                    if (currentUserSearch === -1) {
                        window.location.replace(`/`)
                    }
                    
                }
            }

            if (locationSearch === -1) {
                const theToken = localStorage.getItem('auth_token');

                console.log('tasks page')
                if (!theToken) {
                    console.log('not verified')
                }

                if (theToken) {
                    const name = localStorage.getItem('currentUser');
                    window.location.replace(`/${name}/tasks`)
                }
            }
        })
    </script>
    <script>
        let allTasksArr = []
        $(document).ready(async () => {
            const name = localStorage.getItem('currentUser');
            const theToken = localStorage.getItem('auth_token');

            if (name && theToken) {
                $('#mySelectBox').append(`<option value="yours" class="task-sel-option">Submitted By You</option>`)
            }

            let loggedIn = '{{loggedIn}}';

            if (!loggedIn) {
                loggedIn = false;
            }

            async function getTaskOP (opt) {
                
                if (opt === 'all') {

                    const getAll = await axios.get('/api/all');

                    const tasks = getAll.data.tasks
                    return tasks;
                }

                if (opt === 'yours') {
                    const getYours = await axios.post('/api/yours', {
                        username: name
                    });

                    const tasks = getYours.data.tasks
                    return tasks;
                }


            }

            async function sortTasks (tasksToBeSorted) {
                $('#tasksView').html(
                        `<div class="text-center" style="margin-top: 2%;">
                            <b>Loading!.......</b>
                        </div>`
                    )
                if (tasksToBeSorted.length === 0) {
                    $('#tasksView').html(
                        `<div class="alert alert-dark text-center" role="alert" style="margin-top: 2%;">
                            <b>No proposals created yet!</b>
                        </div>`
                    )
                } else {
                    $('#tasksView').html(``)
                    await tasksToBeSorted.forEach(async (single) => {
                        const theAuthor = single.hive.author;

                        const theTitle = single.finalDataObj.taskTitle

                        const theDesc = single.finalDataObj.taskDesc

                        const theDescDis = theDesc.slice(0, theDesc.length / 5);

                        const thePermlink = single.hive.permlink

                        const taskFunding = single.finalDataObj.taskFunding

                        let proposalStatus =  single.finalDataObj.proposalStatus

                        let paymentMode =  single.finalDataObj.paymentMode

                        
                        if (paymentMode === 'lump') {
                            paymentMode = 'Lump sum (Per milestone, one time payment)';
                        } else {
                            paymentMode = 'Cost reimbursible (Ongoing contract)';
                        }

                        const createdDate = Date.parse(single.date)

                        const bidAcceptTimeline = (1000 * 3600 * 24) * single.finalDataObj.taskBidAccept

                        const bidDeadlineDate = createdDate + bidAcceptTimeline;

                        const nowDate = Date.parse(new Date())

                        let taskFunder = '';
                        if (taskFunding === 'Privately(Closed Source)' || taskFunding === 'Privately(Open Source)') {
                            taskFunder = theAuthor
                            if (proposalStatus === 'Receiving votes') {
                                proposalStatus = 'Receiving bids'
                            } 
                        } else {
                            taskFunder = 'community'
                        }

                        if (single.finalDataObj.selectionStatus) {
                            proposalStatus = 'Work ongoing'
                        }
                        let supportStatus = 'SUPPORT';
                        let rejectStatus = 'REJECT';
                        let supportLength = 0;
                        let rejectLength = 0;
                        let totalSupportValue = 0;
                        let totalRejectValue = 0;

                        single.votes.forEach(sing => {
                            if (sing.voter === name && sing.voteType === 'support') {
                                supportStatus = 'SUPPORTED'
                            }
                            if (sing.voter === name && sing.voteType === 'reject') {
                                rejectStatus = 'REJECTED'
                            }
                            if (sing.voteType === 'support') {
                                supportLength += 1
                                totalSupportValue += parseFloat(sing.voterHivePower)
                            }
                            if (sing.voteType === 'reject') {
                                rejectLength += 1
                                totalRejectValue += parseFloat(sing.voterHivePower)
                            }
                            
                        })

                        let avatarMarkup = `<img src="https://images.hive.blog/u/${theAuthor}/avatar/small" style="border-radius: 50px;" width="32px"; margin: auto;>`

                        const avatarUrl = await hive.api.getAccountsAsync([theAuthor])

                        const milestones = single.finalDataObj.milestonesFinal

                        let milestoneHtml = ``

                        milestones.forEach(mile => {
                            if (milestones.indexOf(mile) <= 5) {
                                let mileMaxPay = mile.theMilestoneMaxPay;

                                if (!mileMaxPay) {
                                    mileMaxPay = 'Maximum bid allowable not set'
                                }

                                let mileExpectedCost = mile.theMilestoneExpectedCost

                                if (!mileExpectedCost) {
                                    mileExpectedCost = 'Total anticipated spend not set'
                                }

                                const theOneMile = `<a class="list-group-item list-group-item-action eachMilestone" style="cursor:default;">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1 text-center"><b>${milestones.indexOf(mile) + 1}) <span class="milestoneItem">${mile.theMilestone}</span></b></h6>
                                    </div>
                                    <p class="mb-1 milestoneItemDesc text-center" data-mile="noMile">${mile.theMilestoneDesc}</p>
                                    <p class="mb-1 milestoneItemDesc text-center" data-mile="noMile"><b>Maximum bid allowable($)</b></p>
                                    <p class="mb-1 milestoneItemDesc text-center" data-mile="noMile">${mileMaxPay}</p>
                                    <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Total anticipated spend for this milestone:($)<br> <span class="milestoneExpectedCost">${mileExpectedCost}</span> </span></p>
                                </a>`
                                milestoneHtml += theOneMile
                            }
                        })

                        const lineItems = single.finalDataObj.lineItemsFinal

                        let lineItemsHtml = ``

                        lineItems.forEach(mile => {
                            if (lineItems.indexOf(mile) <= 5) {
                                let mileMaxPay = mile.theLineItemMaxPay;

                                if (!mileMaxPay) {
                                    mileMaxPay = 'Maximum bid allowable not set'
                                }

                                let lineExpectedCost = mile.theLineItemExpectedCost

                                if (!lineExpectedCost) {
                                    lineExpectedCost = 'Total anticipated spend not set'
                                }

                                const theOneMile = `<a class="list-group-item list-group-item-action eachMilestone" style="cursor:default;">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1 text-center"><b>${lineItems.indexOf(mile) + 1}) <span class="milestoneItem">${mile.theLineItem}</span></b></h6>
                                    </div>
                                    <p class="mb-1 milestoneItemDesc text-center" data-mile="noMile">${mile.theLineItemDesc}</p>
                                    <p class="mb-1 milestoneItemDesc text-center" data-mile="noMile"><b>Maximum bid allowable($)</b></p>
                                    <p class="mb-1 milestoneItemDesc text-center" data-mile="noMile">${mileMaxPay}</p>
                                    <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Total anticipated spend for this line item($):<br> <span class="milestoneExpectedCost">${lineExpectedCost}</span> </span></p>
                                </a>`
                                lineItemsHtml += theOneMile
                            }
                        })

                        let footerArea

                        if (taskFunding === 'Privately(Closed Source)' || taskFunding === 'Privately(Open Source)') {
                            footerArea = 
                                `<div class="col-lg-2 col-md-4 col-sm-6 text-center">
                                    <span class="bid-submit">
                                        <a href="/task/${thePermlink}?username=${name}&currentProfile=${theAuthor}&loggedIn=${loggedIn}" class="badge badge-light"  style="margin-bottom: 3%;"><ion-icon name="eye-outline"></ion-icon><br>View Task</a>
                                    </span>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-6 text-center">  
                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="clipboard-outline"></ion-icon>Bidding ends: <br>${new Date(bidDeadlineDate).toUTCString()}</span>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="pulse-outline"></ion-icon>Proposal Status: <br>${proposalStatus}</span>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-6 text-center">    
                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="create-outline"></ion-icon>Task created: <br>${new Date(single.date).toUTCString()}</span>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="person-outline"></ion-icon>Funded By: <br>${taskFunder}</span>
                                </div>
                                
                                <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="cash-outline"></ion-icon>Task funding: <br>${taskFunding}</span>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="margin-top: 2%;>
                                    <a class="badge badge-light"  style="margin-bottom: 3%;"><ion-icon name="wallet-outline"></ion-icon>Task type<br>${paymentMode}</a>
                                </div>`
                            /*footerArea = 
                                `<div class="col-md-4 text-center">
                                    <span class="bid-submit">
                                        <a href="/task/${thePermlink}?username=${name}&currentProfile=${theAuthor}&loggedIn=${loggedIn}" class="btn btn-sm btn-danger"><small>READ MORE & SUBMIT BID</small></a>
                                    </span><br>
                                </div>
                                <div class="col-md-4 text-center">
                                    <span class="badge badge-info" style="margin-bottom: 3%;">Bidding ends: ${new Date(bidDeadlineDate).toUTCString()}</span>
                                    <br>
                                    <span class="badge badge-danger" style="margin-bottom: 3%;">Task created: ${new Date(single.date).toUTCString()}</span>
                                    
                                </div>
                                <div class="text-center col-md-4">

                                    <span class="badge badge-info" style="margin-top: 3%;">Proposal Status: ${proposalStatus}</span>

                                </div>`*/
                        } else {
                            footerArea = 
                                `<div class="col-lg-3 col-md-6 col-sm-12 text-center">
                                    <span class="bid-submit">
                                        <a href="/task/${thePermlink}?username=${name}&currentProfile=${theAuthor}&loggedIn=${loggedIn}" class="badge badge-light"  style="margin-bottom: 3%;"><ion-icon name="eye-outline"></ion-icon><br>View Task</a>
                                    </span>

                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="clipboard-outline"></ion-icon>Bidding ends: <br>${new Date(bidDeadlineDate).toUTCString()}</span>

                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="pulse-outline"></ion-icon>Proposal Status: <br>${proposalStatus}</span>
                                    
                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="person-outline"></ion-icon>Funded By: <br>${taskFunder}</span>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 text-center">    
                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="create-outline"></ion-icon>Task created: <br>${new Date(single.date).toUTCString()}</span>

                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="cash-outline"></ion-icon>Task funding: <br>${taskFunding}</span>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="thumbs-up"></ion-icon>Total Support Value: <br>${totalSupportValue} HP</span>
                                    
                                    <br>

                                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="thumbs-down"></ion-icon>Total Reject Value: <br>${totalRejectValue} HP</span>
                                </div>
                                
                                <div class="col-lg-3 col-md-6 col-sm-12 text-center vote-area">
                                    <span class="downvote badge badge-light" data-author="${theAuthor}" data-permlink=${thePermlink} style="margin-right: 2%;padding: 2%;cursor:pointer;">
                                        <ion-icon name="thumbs-down-outline"></ion-icon>
                                        <small>${rejectStatus}(${rejectLength})</small>
                                    </span>                 
                                    
                                    <br>
                                    
                                    <span class="upvote badge badge-light" data-author="${theAuthor}" data-permlink=${thePermlink} style="margin-right: 2%;padding: 2%;cursor:pointer;">
                                        <ion-icon name="thumbs-up-outline"></ion-icon>
                                        <small>${supportStatus}(${supportLength})</small>
                                    </span>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="margin-top: 2%;>
                                    <a class="badge badge-light"  style="margin-bottom: 3%;"><ion-icon name="wallet-outline"></ion-icon>Task type<br>${paymentMode}</a>
                                </div>`
                            /*footerArea = 
                                `<div class="col-md-4 text-center">
                                    <span class="bid-submit">
                                        <a href="/task/${thePermlink}?username=${name}&currentProfile=${theAuthor}&loggedIn=${loggedIn}" class="btn btn-sm btn-danger"><small>READ MORE & SUBMIT BID</small></a>
                                    </span><br>
                                    
                                    <span class="badge badge-success" style="margin-bottom: 3%;">Total Support Value: ${totalSupportValue} HP</span>

                                    <span class="badge badge-danger" style="margin-bottom: 3%;">Total Reject Value: ${totalRejectValue} HP</span>
                                </div>
                                <div class="col-md-4 text-center">
                                    <span class="badge badge-info" style="margin-bottom: 3%;">Bidding ends: ${new Date(bidDeadlineDate).toUTCString()}</span>
                                    <br>
                                    <span class="badge badge-danger" style="margin-bottom: 3%;">Task created: ${new Date(single.date).toUTCString()}</span>
                                    
                                </div>
                                <div class="text-center col-md-4">
                                    
                                    <span class="downvote bg-white text-danger" data-author="${theAuthor}" data-permlink=${thePermlink} style="margin-right: 2%;padding: 2%;cursor:pointer;">
                                        <small>${rejectStatus}(${rejectLength})</small>
                                    </span>                      
                                    
                                    <span class="upvote bg-white text-danger" data-author="${theAuthor}" data-permlink=${thePermlink} style="margin-right: 2%;padding: 2%;cursor:pointer;">
                                        <small>${supportStatus}(${supportLength})</small>
                                    </span><br>

                                    <span class="badge badge-info" style="margin-top: 3%;">Proposal Status: ${proposalStatus}</span>

                                </div>`*/
                        }

                        const finalTaskEl = `
                        <div class="card have-top-margin task-panel one-task" data-now-date="${nowDate}" data-bid-deadline-date="${bidDeadlineDate}" data-task-funding="${taskFunding}">
                            <div class="card-header text-center">
                                <span>${avatarMarkup}<h6 class="card-title text-center"><a href="/task/${thePermlink}?username=${name}&currentProfile=${theAuthor}&loggedIn=${loggedIn}" class=" text-center" style="color: whitesmoke;">${theTitle}</a></h6><small class="text-right" style="color: whitesmoke;">by <a href="">${theAuthor}</a></small></span>
                            </div>
                            <div class="card-body">
                            
                                <p class="card-text task-desc-holder">${theDescDis}.... <br><span><a class=" text-center task-read-more" style="color: red; cursor: pointer;" data-task-desc='${theDesc}' data-task-dis='${theDescDis}'>Read More</a></span></p>
                                <h4 class="card-text text-center">Milestones/Line Items</h4>
                                <ul class="list-group theHomeMile">${milestoneHtml}</ul>
                                <ul class="list-group theHomeMile">${lineItemsHtml}</ul>
                            </div>
                            <div class="card-footer text-muted row" style="margin-left: 0px;margin-right: 0px;">
                                ${footerArea}
                            </div>
                        </div>
                        <hr>
                        `;

                        $('#tasksView').append(finalTaskEl);
                        
                    })
                    
                }
            }
            


            let selected_option
            let tasksArr

            selected_option = $('#mySelectBox option:selected').val();
            tasksArr = await getTaskOP(selected_option)

            await sortTasks(tasksArr)

            $(document).on('change', '#mySelectBox', async () => {
                selected_option = $('#mySelectBox option:selected').val();
                tasksArr = await getTaskOP(selected_option)

                await sortTasks(tasksArr)
            });
        })
        
    </script>
    <script>
        $(document).ready(function () {
            console.log('starting...')
            setTimeout( function () {
                $('.one-task').each(function() {
                    console.log('it is....')
                    const nowDate = $(this).attr('data-now-date');
                    const bidDeadlineDate = $(this).attr('data-bid-deadline-date');
                    const taskFunding = $(this).attr('data-task-funding');

                    if (nowDate  >= bidDeadlineDate  && taskFunding === 'SPK Network DAO(Open Source)') {
                        $(this).find('.vote-area').hide();
                        $(this).find('.card-footer').children().each(function () {
                            $(this).removeClass('col-lg-3')
                            $(this).addClass('col-lg-4');
                            $(this).removeClass('col-md-6')
                            $(this).addClass('col-md-4');
                        })
                    }
                })
            }, 5000)
        })
    </script>
    <script>
        $(document).ready(function () {
            
            $(document).on('click', '.upvote',  function () {
                const author = $(this).attr('data-author');
                const permlink = $(this).attr('data-permlink');
                const getKeychainAuthStatus = localStorage.getItem('keychainAuth');
                const voter = localStorage.getItem('currentUser');
                
                let voterHivePower;

                if (getKeychainAuthStatus === "true" || getKeychainAuthStatus === "false") {
                    hive.api.getAccounts([voter], async(err, response) => {
                        if (err) {console.log(err, response);}

                        if (response) {
                            console.log(response)
                            const vestingShares = response[0].vesting_shares;

                            const dynamicGlobalProps = await hive.api.getDynamicGlobalPropertiesAsync();
                            const totalVestingShares = dynamicGlobalProps.total_vesting_shares;
                            const totalVestingFund = dynamicGlobalProps.total_vesting_fund_hive;

                            voterHivePower = parseFloat(hive.formatter.vestToHive(vestingShares, totalVestingShares, totalVestingFund).toFixed(3));     

                            const voteObj = {        
                                voter,
                                voteType: 'support',
                                voterHivePower,
                                voteReceiver: author,
                                permlink
                            };

                            const sendVote = await axios.post('/api/vote/add', voteObj);

                            if (sendVote.data.message === 'success') {
                                $(this).text('SUPPORTED')
                                $(this).css('cursor', 'default');
                            }
                            if (sendVote.data.message === 'duplicate vote found') {
                                alert('Seems you have voted this post before')
                            }
                        }
                    });
                } else {
                    alert('You must be logged in to perform any operations')
                }
            })


            $(document).on('click', '.downvote',  function () {
                const author = $(this).attr('data-author');
                const permlink = $(this).attr('data-permlink');
                const getKeychainAuthStatus = localStorage.getItem('keychainAuth');
                const voter = localStorage.getItem('currentUser');
                
                let voterHivePower;

                if (getKeychainAuthStatus === "true" || getKeychainAuthStatus === "false") {
                    hive.api.getAccounts([voter], async(err, response) => {
                        if (err) {console.log(err, response);}

                        if (response) {
                            console.log(response)
                            const vestingShares = response[0].vesting_shares;

                            const dynamicGlobalProps = await hive.api.getDynamicGlobalPropertiesAsync();
                            const totalVestingShares = dynamicGlobalProps.total_vesting_shares;
                            const totalVestingFund = dynamicGlobalProps.total_vesting_fund_hive;

                            voterHivePower = parseFloat(hive.formatter.vestToHive(vestingShares, totalVestingShares, totalVestingFund).toFixed(3));     

                            const voteObj = {        
                                voter,
                                voteType: 'reject',
                                voterHivePower,
                                voteReceiver: author,
                                permlink
                            };

                            const sendVote = await axios.post('/api/vote/add', voteObj);

                            if (sendVote.data.message === 'success') {
                                $(this).text('REJECTED')
                                $(this).css('cursor', 'default');
                            }

                            if (sendVote.data.message === 'duplicate vote found') {
                                alert('Seems you have voted this post before')
                            }
                        }
                    });
                } else {
                    alert('You must be logged in to perform any operations')
                }
            })
        })
    </script>
    <script>
        $(document).on('click' ,'.task-read-more', function () {
            var converter = new showdown.Converter();
            const taskDesc = $(this).attr('data-task-desc');
            const taskDescDis = $(this).attr('data-task-dis');
            $(this).parent().parent().html(`${converter.makeHtml(taskDesc)}<br><span><a class="text-center keychainify-checked task-close-more" style="color: red; cursor: pointer;"  data-task-desc='${taskDesc}' data-task-dis='${taskDescDis}'>Close</a></span>`)
        })
    </script>
    <script>
        $(document).on('click' ,'.task-close-more', function () {
            var converter = new showdown.Converter();
            const taskDescDis = $(this).attr('data-task-dis');
            const taskDesc = $(this).attr('data-task-desc');
            $(this).parent().parent().html(`${converter.makeHtml(taskDescDis)}<br><span><a class="text-center keychainify-checked task-read-more" style="color: red; cursor: pointer;"   data-task-desc='${taskDesc}' data-task-dis='${taskDescDis}'>Read More</a></span>`)
        })
    </script>
{% endblock %}

{% block css %}
    <style>
        /**#tasksView {
            margin: 5%;
        }**/

        #task-area {
            margin-top: 5%;
        }

        .have-top-margin {
            margin: 5% 0;
        }

        ion-icon.isUpvoted {
            color: red;
        }
        ion-icon {
            cursor: pointer;
        }
    </style>
{% endblock %}