<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/tabs.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/favicon.jpg">
  <link href="/fa/css/all.css" rel="stylesheet">
  <style>
    body {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;;
        font-size: 14px;
    }
    .navbar {
        background-color: black !important;
    }

    footer {
        background-color: black;
        color: white;
    }

    .nav-link {
        color: whitesmoke !important;
    }

    .jumbotron {
        background-color: black !important;
        color: whitesmoke !important;
    }

    .card-header {
        background-color: black !important;
    }

    .card-header > span > a {
        color: whitesmoke !important;
    }

    .card-footer {
        background-color: black !important;
        color: whitesmoke !important;
    }
  </style>
  {% block css %}{% endblock %}
  <title>SPKBOUNTIES</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/"><span><img src="/images/favicon.jpg" width="60px" alt=""></span> SPK Bounties</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">         
            <ion-icon name="menu-outline" class="navbar-toggler-icon"></ion-icon>
          </button>
          <div class="collapse navbar-collapse right container-fluid" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 able-nav">
              {% if loggedIn == false %}
              <li class="nav-item loggedOutView">
                <a class="nav-link" aria-current="page" href="/">Tasks</a>
              </li>
              <li class="nav-item loggedOutView">
                <a class="nav-link" id="myBtn" aria-current="page" href="javascript:void(0)">Login</a>
              </li>
              {% endif %}
              
              {% if loggedIn == true %}
              <li class="nav-item loggedInView" id="loggedInHome">
                <a class="nav-link" aria-current="page" href="/{{username}}/tasks">Tasks</a>
              </li>
              <li class="nav-item loggedInView" id="loggedInCreate">
                <a class="nav-link" aria-current="page" href="/{{username}}/create">Create Task</a>
              </li>
              <li class="nav-item loggedInView" id="loggedInPrivateBids">
                <a class="nav-link" aria-current="page" href="/{{username}}/bids/all?loggedIn={{loggedIn}}">Bids</a>
              </li>
              <li class="nav-item loggedInView">
                <a class="nav-link" id="logoutBtn" aria-current="page" href="javascript:void(0)">Logout</a>
              </li>
              <li class="nav-item loggedInView" id="loggedInName">
                <a class="nav-link dropdown-toggle-ex text-center" aria-current="page" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://images.hive.blog/u/{{username}}/avatar/small" style="border-radius: 50px;" width="32px"><br><small class="text-center">@{{username}}</small></a>
                
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
        
            <div class="wrapper fadeInDown">
                <div id="formContent">
              
                  <!-- Login Form -->
                  <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Enter Username">
                    <input type="password" id="postingKey" class="fadeIn second" name="postingKey" placeholder="Enter Posting Key" style="display: none;">
                    <input type="button" class="fadeIn" value="KEYCHAIN LOGIN" id="keychain">
                    <input type="button" class="fadeIn" value="POSTING KEY LOGIN" id="posting-key-login" style="display: none;">
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="usePosting">
                      <label class="form-check-label" for="usePosting">Use Posting Key</label>
                    </div>
                  </form>
              
                </div>
            </div>
        </div>
  
    </div>
    <footer style="margin-top: 10%; padding: 3%;">
        <div class="text-center">
            <a href="http://spk.network" target="_blank" class="text-white"><img src="/images/favicon.jpg" width="100px" alt=""><br>
            SPK Network
            </a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@hiveio/hive-js/dist/hive.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        if (btn) {
            // When the user clicks on the button, open the modal
            /*btn.onclick = function() {
                modal.style.display = "block";
            }*/

            $(document).on('click', '#myBtn', function() {
                modal.style.display = "block";
            })

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }
    </script>


    <script>
        $(document).ready(async () => {
            $('.dropdown-toggle-ex').click(function() {
                if ($('.dropdown-menu').hasClass('show')) {
                    $('.dropdown-menu').removeClass('show')
                } else {
                    $('.dropdown-menu').addClass('show')
                }
            })
            $('#keychain').click(async () => {
                const username = $('#login').val();

                
                if (!username || username.length < 2) {
                    alert('All fields are required');
                } else {
                    const sendLoginToken = async () => {
                        let memo = await axios.post('/api/keychain/fetch_memo', {username});

                        const theUsername = memo.data.username
                        const encoded = memo.data.encoded

                        let successMessage = ''

                        await hive_keychain.requestSignBuffer(theUsername, encoded, 'Posting', async (res) => {
                            if (res.success) {
                                successMessage = res.success

                                const getToken = await axios.post('/api/keychain/callback', {
                                    theUsername, successMessage
                                })

                                if (getToken.data.auth === true) {
                                    const token = getToken.data.token;

                                    const resUsername = getToken.data.username;

                                    localStorage.removeItem('auth_token');
                                    localStorage.setItem('auth_token', token);

                                    localStorage.removeItem('currentUser');
                                    localStorage.setItem('currentUser', resUsername);

                                    localStorage.removeItem('keychainAuth');
                                    localStorage.setItem('keychainAuth', 'true');
                                    window.location.replace(`/${resUsername}/tasks`)
                                } else {
                                    alert('There was a problem logging in')
                                }
                            }
                        })
                    } 

                    if (window.hive_keychain) {
                        const getAccountData = await axios.post('/api/get_hive_account_info', {
                            username
                        });

                        const accountData = getAccountData.data[0]

                        let auth = accountData.posting.account_auths.filter(el => el[0] === 'speak.bounties');

                        if (auth.length === 0) {
                            hive_keychain.requestAddAccountAuthority(username, "speak.bounties", "posting", 1, async (response) => {
                                if (response.success === true){
                                    await sendLoginToken()
                                }
                                else {
                                console.log({error : "Keychain error"});
                                }
                            });
                        }  else {
                            await sendLoginToken()
                        }

                    } else {
                        alert('Please install Hive keychain  if you are on PC or use posting key instead')
                    }
                }
            })
        })
    </script>


    <script>
        $('#posting-key-login').click(async () => {

            const username = $('#login').val();
            const password = $('#postingKey').val();

            if (!username || username.length < 2) {
                alert('All fields are required');
            }

            if (!password) {
                alert('All fields are required');
            }

            if (username && username.length > 2 && password) {
                const getToken = await axios.post('/api/posting/login', {
                    username, password
                })

                if (getToken.data.auth === true) {
                    const token = getToken.data.token;

                    const resUsername = getToken.data.username;

                    localStorage.removeItem('auth_token');
                    localStorage.setItem('auth_token', token);

                    localStorage.removeItem('currentUser');
                    localStorage.setItem('currentUser', resUsername);

                    localStorage.removeItem('currentUserPass');
                    localStorage.setItem('currentUserPass', password);

                    localStorage.removeItem('keychainAuth');
                    localStorage.setItem('keychainAuth', 'false');
                    window.location.replace(`/${resUsername}/tasks`)
                } else {
                    alert('There was a problem logging in')
                }
            }
        })
    </script>

    <script>
        $(document).ready(async () => {

            $('#logoutBtn').click(async () => {
                const logOut = await axios.get('/api/logout')

                if (logOut.data.auth === false) {
                    localStorage.removeItem('auth_token');
                    localStorage.removeItem('currentUser');
                    localStorage.removeItem('currentUserPass');
                    localStorage.removeItem('keychainAuth');
                    window.location.replace('/')
                }
            })
        })
    </script>
    <script>
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
        return new bootstrap.Dropdown(dropdownToggleEl)
        })
    </script>
    <script>
        $(document).ready(async () => {
            $('#navbarSupportedContent').hide();
        })
    </script>
    <script>
        
        $(document).ready(function(){
            $('#usePosting').click(function(){
                if($(this).prop("checked") == true){
                    $('#posting-key-login').show();
                    $('#postingKey').show();
                    $('#keychain').hide();
                }
                else if($(this).prop("checked") == false){
                    console.log("Checkbox is unchecked.");
                    $('#posting-key-login').hide();
                    $('#postingKey').hide();
                    $('#keychain').show();
                }
            });
        });
    </script>
    <script>
        $(window).bind('scroll', function () {
            $('.navbar').addClass('fixed');
        });
    </script>
    {% block js %}{% endblock %}
</body>
</html>