{% extends 'layout.twig' %}

{% block content %}
    <div class="jumbotron text-center">
        <h5>Task Creator: </h5>
        <p>@{{currentProfile}}</p>
    </div>

    <div id="task-area" class="container">

        <div id="myTasksView">
            
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        /*$(document).ready(async () => {
            const locationUrl = window.location.pathname
            const theUsername = '{{ username }}'
            const currentUser = localStorage.getItem('currentUser');
            const currentProfile = '{{ currentProfile }}'

            let locationSearch = locationUrl.search('my')


            if (locationSearch !== -1) {
                const theToken = localStorage.getItem('auth_token');

                console.log('profile page')
                if (!theToken) {
                    window.location.replace('/')
                }

                if (!theToken && theUsername !== currentUser) {
                    console.log('verified')
                }

                if (theToken && theUsername === currentUser) {
                    console.log('verified')
                }
            }

            if (locationSearch === -1) {
                const theToken = localStorage.getItem('auth_token');

                console.log('tasks page')
                if (!theToken) {
                    window.location.replace('/')
                }

                if (theToken) {
                    const name = localStorage.getItem('currentUser');
                    window.location.replace(`/${theUsername}/my`)
                }
            }
        })*/
    </script>

    <script>
        $(document).ready(async () => {
            
            const name = '{{ currentProfile }}';
            const loggedIn = '{{loggedIn}}';
            const currentUser = localStorage.getItem('currentUser');
            const username = '{{ username }}'

            function checkIfVoted (name, permlink, author, el) {
                function search(nameKey, myArray){
                    for (var i=0; i < myArray.length; i++) {
                        if (myArray[i].voter === nameKey) {
                            return myArray[i];
                        }
                    }
                }
                hive.api.getContent(author, permlink, function(err, result) {
                    if (result) {
                        const activeVotes = result.active_votes;

                        el.parent().find('.upvoteLength').text(activeVotes.length)

                        if (name !== null) {
                            if (activeVotes.length > 0) {
                                const didVote =  search(name, activeVotes)
                                if (didVote.voter === name) {
                                    el.parent().find('.upvoted').show()
                                    el.parent().find('.upvoteOpen').hide()

                                    el.parent().find('.taskUpvoted').show()
                                    el.parent().find('.taskUpvoteOpen').hide()
                                }
                            }
                        }   
                    }
                });
            }
            
            async function sortTasks (tasksToBeSorted) {
                await tasksToBeSorted.forEach(async (single) => {
                    if (single.hive.author == name) {
                        console.log(single.hive.author)
                        const theAuthor = single.hive.author;

                        const theTitle = single.finalDataObj.taskTitle

                        const theDesc = single.finalDataObj.taskDesc

                        const theDescDis = theDesc.slice(0, theDesc.length / 10);

                        const thePermlink = single.hive.permlink


                        let avatarMarkup = `<img src="https://images.hive.blog/u/${theAuthor}/avatar/small" style="border-radius: 50px;" width="32px"; margin: auto;>`

                        const avatarUrl = await hive.api.getAccountsAsync([theAuthor])

                        const finalTaskEl = `
                        <div class="card have-top-margin task-panel">
                            <div class="card-header text-center">
                                <span><a href="/${theAuthor}/my?username=${currentUser}&currentProfile=${theAuthor}&loggedIn=${loggedIn}">${avatarMarkup} ${theAuthor}</a></span>
                                <br><span class="badge bg-primary text-white text-right">Return Proposal: ${single.finalDataObj.returnProposal}</span>
                            </div>
                            <div class="card-body text-center">
                            <h5 class="card-title text-center"><a href="/task/${thePermlink}?username=${currentUser}&currentProfile=${theAuthor}&loggedIn=${loggedIn}" class=" text-center">${theTitle}</a></h5>
                            <p class="card-text text-center">${theDescDis}</p>
                            </div>
                            <div class="card-footer text-muted text-right">
                                <div style="display: inline;
                                ">
                                    
                                    <span class="formControlRange">
                                        <input type="range" class="form-control-range">
                                    </span>
                                    
                                    <span class="upvoteLength"> 
                                    </span>
                                    
                                    <span class="upvote" data-author="${theAuthor}" data-permlink=${thePermlink}>
                                        <ion-icon name="heart-outline"></ion-icon> 
                                    </span> <!--outline-->
                                    
                                    <span class="upvoteOpen" data-author="${theAuthor}" data-permlink=${thePermlink}>
                                        <ion-icon name="heart-outline"></ion-icon> 
                                    </span>
                                    <span class="upvoteClose">
                                        <ion-icon name="close-outline"></ion-icon> 
                                    </span>
                                    <span class="upvoted">
                                        <ion-icon name="heart-sharp" class="isUpvoted"></ion-icon> <!--sharp-->
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                        `;
                        $('#myTasksView').append(finalTaskEl);
                        $('.formControlRange').hide()
                        $('.upvote').hide()
                        $('.upvoted').hide()
                        $('.upvoteClose').hide()
                        $('.upvoteOpen').each(function () {
                            //console.log($(this).parent().parent().html());
                            const currentPermlink = $(this).attr('data-permlink')
                            const currentAuthor = $(this).attr('data-author')
                            console.log(currentAuthor, currentPermlink);
                            checkIfVoted(currentUser, currentPermlink, currentAuthor, $(this));
                        })
                    }
                });
            }

            async function sortVoteStatus() {  
                $('.task-panel').each(function () {
                    console.log($(this));
                })
            }


            const getAll = await axios.post('/api/my', {
                name
            });

            const tasks = getAll.data.tasks
            let final = []
            let retPropYes = []
            let retPropNo = []
            tasks.forEach(async (task) => {
                if (task.finalDataObj.returnProposal === 'Yes') {
                    retPropYes.push(task)
                }
            })

            tasks.forEach(async (task) => {
                if (task.finalDataObj.returnProposal === 'No') {
                    retPropNo.push(task)
                }
            })

            final = retPropYes.concat(retPropNo)

            await sortTasks(final);
        })
    </script>
    <script>
        $(document).ready(function () {
            $(document).on('click', '.upvoteOpen',  function () {
                $(this).hide();
                $(this).parent().find('.formControlRange').show()
                $(this).parent().find('.upvote').show()
                $(this).parent().find('.upvoteClose').show()
            })

            

            $(document).on('click', '.upvoteClose',  function () {
                $(this).hide();
                $(this).parent().find('.formControlRange').hide()
                $(this).parent().find('.upvote').hide()
                $(this).parent().find('.upvoteOpen').show()
            })
            
            $(document).on('click', '.upvote',  function () {
                const author = $(this).attr('data-author');
                const permlink = $(this).attr('data-permlink');
                const getKeychainAuthStatus = localStorage.getItem('keychainAuth');
                const weight = $(this).parent().find('.formControlRange').find('.form-control-range').val();
                const voter = localStorage.getItem('currentUser');

                const voteObj = {
                    voter,
                    author,
                    permlink,
                    weight: parseFloat(weight) * 100
                };

                console.log(voteObj)
                

                const operation = ['vote', voteObj]

                if (getKeychainAuthStatus === "true") {
                    hive_keychain.requestBroadcast(voter, [operation], 'Posting', function(response) {
                        window.location.reload()
                        if (response.success) {
                            $(this).parent().find('.upvoted').show()
                            $(this).parent().find('.formControlRange').hide()
                            $(this).parent().find('.upvote').hide()
                            $('.upvoteClose').hide()
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}


{% block css %}
    <style>
        #tasksView {
            margin: 5%;
        }

        .have-top-margin {
            margin-top: 3%;
        }

        ion-icon.isUpvoted {
            color: red;
        }
        ion-icon {
            cursor: pointer;
        }
    </style>
{% endblock %}