{% extends "layout.twig" %}

{% block content %}

    {% if loggedIn and username != currentProfile %}
        <div id="submitBidBtnArea" class="text-right container">
            <a href="#" class="btn btn-primary" id="submitBidBtn">SUBMIT BID</a>
        </div>
    {% endif %}

    {% if loggedIn and username == currentProfile %}
        <div id="editTaskBtnArea" class="text-right container">
            <a href="#" class="btn btn-primary btn-sm" id="editTaskBtn"><ion-icon name="pencil-outline"></ion-icon></a>
            <a href="#" class="btn btn-danger btn-sm" id="deleteTaskBtn"><ion-icon name="trash-outline"></ion-icon></a>
        </div>
    {% endif %}

    <div id="taskDetailArea" class="container">
        <div class="card have-top-margin">
            <div class="card-header container text-center">
                <img src="https://images.hive.blog/u/{{currentProfile}}/avatar/small" style="border-radius: 50px;" width="32px"; margin: auto;>
                <small class="text-right" style="color: whitesmoke;">by <a href="">{{currentProfile}}</a></small>  
            </div>
            <div class="card-body container taskDetail">
                <h4 class="card-title text-center text-primary" id="taskTitle"></h4>
                <label for="progressRange">Task Progress: <span class="progress-percentage">0%</span></label>
                <input type="range" class="custom-range" id="progressRange" value="0" disabled>
                <h5 class="text-center">Details Below</h5>
                <div class="card-text" id="taskDesc">
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12" id="taskBidAccept">
                    </div>                
                    <div class="col-lg-12 col-md-12 col-sm-12" id="taskFunder">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" id="returnProposal">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" id="paymentMode">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" id="taskDuration">
                    </div>
                </div>
                <div id="milestonesArea">
                    <h5 class="text-center mileHeader">Milestones<span id="milestonesLength"></span></h5>
                    <div class="list-group" id="milestonesList">
                    </div>
                    <hr>
                </div>
            </div>
            <div class="card-footer text-muted text-right row card-footer-task" style="
                margin-right: 0px;
                margin-left: 0px;
            ">
            </div>
        </div>
    </div>

    <div id="taskBidsArea">
        <div id="bidFormArea">
            <h4 class="text-center">Create Bid</h4>
            <hr>
            <form>
                <!--<div class="form-group" id="bidCommentArea">
                    <label for="bidComment">Bid Description</label>
                    <textarea type="text" name="bidComment" class="form-control" id="bidComment"></textarea>
                </div>
                <div class="form-group" id="lumpSumTask">
                    <label for="bidPriceLump">Bid Estimated Cost(Cost reimbursible)</label>
                    <input type="number" name="bidPriceLump" class="form-control" id="bidPriceLump" >
                </div>-->
                
                <div class="form-group row" id="mileStoneTask">
                    <div class="col-lg-12 col-md-12 col-sm-12" id="milePriceList">
                    </div>
                </div>
                <div class="form-group" id="bidPrevExpArea">
                    <label for="bidPrevExp">Relevant Experience and Examples of Previous Similar Execution</label>
                    <textarea type="text" name="bidPrevExp" class="form-control" id="bidPrevExp"></textarea>
                </div>
                <div class="form-group text-center">
                    <a class="btn btn-primary" id="submitBid">Submit</a>
                    <a class="btn btn-danger" id="cancelBid">Cancel</a>
                </div>
            </form>
            <hr>
        </div>
        <h4 class="text-center">Bids</h4>
        <hr>
        <div id="bidListArea">
        </div>
    </div>

    
    <!-- The Modal -->
    <div id="myRemoveModal" class="modalRemove">

        <!-- Modal content -->
        <div class="modalRemoveContent">
            <span class="closeRemove">&times;</span>
        
            <div class="wrapper fadeInDown">
                <p class="text-center">Do you want to remove your vote?</p>
                <div class="voteRemoveBtnArea">
                    <span id="voteRemove"><a href="#" class="btn btn-small btn-primary vote-remove-btn">REMOVE</a></span>
                    <span id="cancelRemove"><a href="#" class="btn btn-small btn-danger cancel-remove-btn">CANCEL</a></span>
                </div>
            </div>
        </div>
  
    </div>

{% endblock %}

{% block css %}

    <style>
        #taskDetailArea {
            margin: auto;
            padding: 0 5%;
        }

        #taskBidsArea {
            margin: 3%;
        }

        #bidFormArea {
            margin: auto;
            padding: 3%;
            width: 80%;
            border-radius: 25px;
        }

        .taskDetail {
            padding: 5%;
        }

        .have-top-margin {
            margin: 5% 0;
        }

        #setWidth {
            padding-right: 0;
            padding-left: 0;
        }

        #submitBidBtn {
            margin: 3%;
        }

        #editTaskBtn {
            margin: 2%;
            margin-top: 5%;
            margin-right: 1%;
        }

        #deleteTaskBtn {
            margin: 2%;
            margin-top: 5%;
            margin-right: 1%;
        }

        #bidListArea {
            margin: auto;
            padding: 0 10%;
        }

        /*ion-icon {
            font-size: 32px;
        }*/

        .priceMileBtn {
            margin: 2% 0;
        }
        .one-vote-comment {
            border: 1px solid black;
            border-radius: 5px;
            margin: 2%;
            padding: 2%;
        }
    </style>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(async () => {

            $('#milestonesArea').hide()
            $('#bidFormArea').hide()

            const taskParams = window.location.pathname.split('/');
            
            const permlink = taskParams[2];
            const author = '{{ currentProfile }}';

            const getTaskDetail = await axios.post('/api/task', {
                author, permlink
            });

            const theToken = localStorage.getItem('auth_token');

            let loggedIn = '{{loggedIn}}';
            let username = '{{username}}'

            if (!theToken && (username !== 'null' || loggedIn === 'true')) {
                window.location.replace(`/task/${permlink}?username=null&currentProfile=${author}&loggedIn=false`)
            }

            const taskTitle = getTaskDetail.data.task.finalDataObj.taskTitle;
            var converter = new showdown.Converter();
            const taskDesc = converter.makeHtml(getTaskDetail.data.task.finalDataObj.taskDesc);
            const taskBidAccept = getTaskDetail.data.task.finalDataObj.taskBidAccept;
            const milestones =getTaskDetail.data.task.finalDataObj.milestonesFinal;
            const lineItems = getTaskDetail.data.task.finalDataObj.lineItemsFinal
            const taskFunding = getTaskDetail.data.task.finalDataObj.taskFunding
            const taskMilestoneStatus = getTaskDetail.data.task.finalDataObj.taskMilestoneStatus
            let paymentMode = getTaskDetail.data.task.finalDataObj.paymentMode;
            const selectedStatus = getTaskDetail.data.task.finalDataObj.selectionStatus;
            const taskDuration = getTaskDetail.data.task.finalDataObj.taskDuration
            let proposalStatus =  getTaskDetail.data.task.finalDataObj.proposalStatus
            if (paymentMode === 'lump') {
                paymentMode = 'Lump sum (Per milestone, one time payment)';
            } else {
                paymentMode = 'Cost reimbursible (Ongoing contract)';
            }
            let taskFunder = '';
            if (taskFunding === 'Privately(Closed Source)' || taskFunding === 'Privately(Open Source)') {
                taskFunder = author
                if (proposalStatus === 'Receiving votes') {
                    proposalStatus = 'Receiving bids'
                } 
            } else {
                taskFunder = 'community'
            }

            if (getTaskDetail.data.task.finalDataObj.selectionStatus) {
                proposalStatus = 'Work ongoing'
            }

            const bids = getTaskDetail.data.task.bids
            const name = localStorage.getItem('currentUser');

            
            const createdAt = Date.parse(getTaskDetail.data.task.date)

            const bidAcceptTimeline = (1000 * 3600 * 24) * taskBidAccept

            const nowDate = Date.parse(new Date())

            const bidDeadlineDate = createdAt + bidAcceptTimeline;

            const contractEndDate = bidDeadlineDate + ((1000 * 3600 * 24) * taskDuration)

            console.log(contractEndDate)
            
            $('.taskUpvote').attr('data-permlink', permlink)
            $('.taskUpvote').attr('data-author', author)
            $('.taskDownvote').attr('data-permlink', permlink)
            $('.taskDownvote').attr('data-author', author)
            $('.vote-remove-btn').attr('data-permlink', permlink)
            $('.vote-remove-btn').attr('data-author', author)
            $('#editTaskBtn').attr('data-permlink', permlink)
            $('#editTaskBtn').attr('data-author', author)
            $('#deleteTaskBtn').attr('data-permlink', permlink)
            $('#deleteTaskBtn').attr('data-author', author)
            

            let supportStatus = 'SUPPORT';
            let rejectStatus = 'REJECT';
            let supportLength = 0;
            let rejectLength = 0;
            let totalSupportValue = 0;
            let totalRejectValue = 0;

            getTaskDetail.data.task.votes.forEach(sing => {
                if (sing.voter === name && sing.voteType === 'support') {
                    supportStatus = 'SUPPORTED'
                }
                if (sing.voter === name && sing.voteType === 'reject') {
                    rejectStatus = 'REJECTED'
                }
                if (sing.voteType === 'support') {
                    supportLength += 1
                    totalSupportValue += parseFloat(sing.voterHivePower)
                }
                if (sing.voteType === 'reject') {
                    rejectLength += 1
                    totalRejectValue += parseFloat(sing.voterHivePower)
                }                    
            })
            $('.card-footer-task').html(
                `<div class="col-md-6 text-center">
                    
                </div>
                
                <div class="text-center col-md-6"> 
                    
                </div>
                
                <div class="col-md-4 text-center">
                    <span id="submitBidBtnArea2">
                        <a class="badge badge-light"  id="submitBidBtn2" style="cursor: pointer;"><ion-icon name="create-outline"></ion-icon><br>SUBMIT BID</a>
                    </span><br>
                                
                    <span class="badge badge-light supportVal" style="margin-bottom: 3%;"><ion-icon name="thumbs-up"></ion-icon>Total Support Value: <br>${totalSupportValue} HP</span>

                    <span class="badge badge-light rejectVal" style="margin-bottom: 3%;"><ion-icon name="thumbs-down"></ion-icon>Total Reject Value: <br>${totalRejectValue} HP</span>
                </div>
                <div class="col-md-4 text-center">
                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="clipboard-outline"></ion-icon>Bidding ends: <br> ${new Date(bidDeadlineDate).toUTCString()}</span>
                    <br>
                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="create-outline"></ion-icon>Task created: <br> ${new Date(createdAt).toUTCString()}</span>
                    <br>
                    <span class="badge badge-light" style="margin-bottom: 3%;"><ion-icon name="create-outline"></ion-icon>Contract end date: <br> ${new Date(contractEndDate).toUTCString()}</span>
                                    
                </div>
                <div class="text-center col-md-4">
                    <span class="taskDownvote badge badge-light" data-author="${author}" data-permlink=${permlink} style="margin-right: 2%;padding: 2%;cursor:pointer;">
                        <ion-icon name="thumbs-down-outline"></ion-icon>
                        <small>${rejectStatus}(${rejectLength})</small>
                    </span>  
                                    
                    <span class="taskUpvote badge badge-light" data-author="${author}" data-permlink=${permlink} style="margin-right: 2%;padding: 2%;cursor:pointer;">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                        <small>${supportStatus}(${supportLength})</small>
                    </span>
                    
                    <br>
                    
                    <span class="badge badge-light" style="margin-top: 3%;"><ion-icon name="pulse-outline"></ion-icon>Proposal Status: <br>${proposalStatus}</span>

                </div>`
            )
            $('#taskTitle').text(taskTitle);
            $('#taskDesc').html(taskDesc);
            $('#taskBidAccept').html(`
                        <h6 class="text-center">Bid submission closes on</h6>
                        <p class="text-center"><span class="badge badge-danger">${new Date(bidDeadlineDate).toUTCString()}</span></p>
                        <hr class="col-lg-12 col-md-12 col-sm-12" id="setWidth">`)
            $('#taskFunder').html(`
                        <h6 class="text-center">Task to be funded by</h6>
                        <p class="text-center"><span class="badge badge-info">${taskFunder}</span></p>
                        <hr class="col-lg-12 col-md-12 col-sm-12" id="setWidth">`)
            $('#paymentMode').html(`
                        <h6 class="text-center">Is this a lump sum or a cost reimbursible task?</h6>
                        <p class="text-center"><span class="badge badge-success">${paymentMode}</span></p>
                        <hr class="col-lg-12 col-md-12 col-sm-12" id="setWidth">`)
            if (milestones.length > 0) {
                $('#milestonesArea').show();
                let stones = ``;
                await milestones.forEach(async (mile) => {

                    if (mile.theMilestoneDesc === 'No milestones added') {
                        stones +=   
                        `<a class="list-group-item list-group-item-action eachMilestone" style="cursor:default;">
                            <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-center"><b>${$('.eachMilestone').length + 1}) <span class="milestoneItem">${mile.theMilestone}</span></b></h6>
                            </div>
                            <p class="mb-1 milestoneItemDesc text-center" data-mile="noMile">${mile.theMilestoneDesc}</p>
                        </a>`;
                    } else {
                        let mileMaxPay = mile.theMilestoneMaxPay

                        if (!mileMaxPay) {
                            mileMaxPay = 'Maximum bid allowable not set'
                        }

                        let mileExpectedCost = mile.theMilestoneExpectedCost

                        if (!mileExpectedCost) {
                            mileExpectedCost = 'Total anticipated spend not set'
                        }
                        stones +=   
                        `<a class="list-group-item list-group-item-action eachMilestone" style="cursor:default;">
                            <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-center"><b>${milestones.indexOf(mile) + 1 }) <span class="milestoneItem">${mile.theMilestone}</span></b></h6>
                            </div>
                            <p class="mb-1 milestoneItemDesc text-center" data-mile="yesMile">${mile.theMilestoneDesc}</p>
                            <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Maximum bid allowable:($) <span class="milestoneMaxPay">${mileMaxPay}</span> </span></p>
                            <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Total anticipated spend for this milestone:($)<br> <span class="milestoneExpectedCost">${mileExpectedCost}</span> </span></p>
                        </a>`;
                    }
                });
                $('#milestonesLength').text(`(${milestones.length})`)
                $('#milestonesList').html(stones);
            }

            if (lineItems.length > 0) {
                $('.mileHeader').html(`Line Items<span id="milestonesLength">(${lineItems.length})</span>`)
                $('#milestonesArea').show();
                let stones = ``;
                await lineItems.forEach(async (mile) => {

                    if (mile.theLineItemDesc === 'No milestones added') {
                        stones +=   
                        `<a class="list-group-item list-group-item-action eachMilestone" style="cursor:default;">
                            <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-center"><b>${$('.eachMilestone').length + 1}) <span class="milestoneItem">${mile.theLineItem}</span></b></h6>
                            </div>
                            <p class="mb-1 milestoneItemDesc text-center" data-mile="noLine">${mile.theLineItemDesc}</p>
                        </a>`;
                    } else {
                        let mileMaxPay = mile.theLineItemMaxPay

                        if (!mileMaxPay) {
                            mileMaxPay = 'Maximum bid allowable not set'
                        }

                        let lineExpectedCost = mile.theLineItemExpectedCost

                        if (!lineExpectedCost) {
                            lineExpectedCost = 'Total anticipated spend not set'
                        }

                        stones +=   
                        `<a class="list-group-item list-group-item-action eachMilestone" style="cursor:default;">
                            <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1 text-center"><b>${lineItems.indexOf(mile) + 1 }) <span class="milestoneItem">${mile.theLineItem}</span></b></h6>
                            </div>
                            <p class="mb-1 milestoneItemDesc text-center" data-mile="yesLine">${mile.theLineItemDesc}</p>
                            <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Maximum bid allowable($): <span class="milestoneMaxPay">${mileMaxPay}</span> </span></p>
                            <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Total anticipated spend for this line item($):<br> <span class="milestoneExpectedCost">${lineExpectedCost}</span> </span></p>
                        </a>`;
                    }
                });
                $('#milestonesList').html(stones);
            }




            if (paymentMode !== 'Lump sum (Per milestone, one time payment)') {
                 
                $('#taskDuration').html(`
                        <h6 class="text-center">Task Duration(Renewal)</h6>
                         <p class="text-center"><span class="badge badge-primary">${taskDuration} days</span></p>
                         <hr class="col-lg-12 col-md-12 col-sm-12" id="setWidth">`)

                
            }

            let bidsList = ``;
            if (bids.length > 0) {
                console.log(bids);
                bids.forEach(async (bid) => {
                    let milestoneCostList = ``
                    let milestoneTotalCost = 0
                    let milestoneTotalTime = 0
                    bid.otherData.priceMilestone.forEach(one => {
                        if (one.priceVal) {
                                milestoneTotalCost += parseFloat(one.priceVal);
                            }

                            if (one.completionTime) {
                                milestoneTotalTime += parseFloat(one.completionTime);
                            }
                        milestoneCostList += 
                            `<span>
                                <b>${bid.otherData.priceMilestone.indexOf(one) + 1}) ${one.mileText}</b>
                            </span><br>
                            <span>
                                ${one.mileDescText}
                            </span><br><br>
                            <span class="badge badge-primary "><span>Estimated cost:</span> <span class="est-mile-cost">$${one.priceVal}</span></span>
                            <span class="badge badge-success estCompletionTime"><span>Estimated completion time:</span> <span class="est-mile-time">${one.completionTime} days</span></span><br><br>`
                        const extraNotesHtml = 
                            `<span>
                                <b>Extra Notes</b>
                            </span><br>
                            <span class="extra-notes">
                                ${one.mileExtraComment}
                            </span>`
                        
                        if (one.mileExtraComment) {
                            milestoneCostList += extraNotesHtml
                        }

                        milestoneCostList += `<hr>`
                    })

                    
                    
                    milestoneCostList += 
                        `<span class="totalCost">
                            <b>Total Estimated Cost</b>
                        </span><br>
                        <span class="badge badge-primary totalCost">$${milestoneTotalCost}</span>
                        <br class="totalCost">
                        <br class="totalCost">
                        <span class="totalEstTime">
                            <b>Total Estimated Time</b>
                        </span><br>
                        <span class="badge badge-danger totalEstTime">${milestoneTotalTime} days</span><br>`
                        

                    let supportStatus = 'SUPPORT';
                    let rejectStatus = 'REJECT';
                    let supportLength = 0;
                    let rejectLength = 0;
                    let totalSupportValue = 0;
                    let totalRejectValue = 0;

                    bid.votes.forEach(sing => {
                        if (sing.voter === name && sing.voteType === 'support') {
                            supportStatus = 'SUPPORTED'
                        }
                        if (sing.voter === name && sing.voteType === 'reject') {
                            rejectStatus = 'REJECTED'
                        }
                        if (sing.voteType === 'support') {
                            supportLength += 1
                            totalSupportValue += parseFloat(sing.voterHivePower)
                        }
                        if (sing.voteType === 'reject') {
                            rejectLength += 1
                            totalRejectValue += parseFloat(sing.voterHivePower)
                        }
                        
                    })

                    let voteReplies = 
                        `<hr>
                        <h5 class="card-text text-center" id="bidDesc"><b>Bidder Comments</b></h5>
                        `;
                    if (bid.votes.length > 0) {
                        bid.votes.forEach(oneVote => {
                            voteReplies += 
                               `<div class="one-vote-comment">
                                    <p class="card-text text-center" id="bidDesc">
                                        <span class="badge badge-success">Reply from: ${oneVote.voter}</span>
                                        <span class="badge badge-danger">Vote Status: ${oneVote.voteType.toUpperCase()}</span>
                                    </p>
                                    <p class="card-text" id="bidDesc">
                                        ${oneVote.voteBidComment}
                                    </p>
                                </div>`;
                        })
                    }
                    
                    let editBidBtn = ``;

                    if(username === bid.hive.author) {
                        editBidBtn = 
                            `<span id="editBid">
                                <button type="button" class="btn btn-light btn-sm edit-bid" data-task-author="${author}" data-task-permlink="${permlink}" data-author="${bid.hive.author}" data-permlink=${bid.hive.permlink}><ion-icon name="pencil-outline"></ion-icon>EDIT</button>
                            </span>`
                    }
                    let bidPrevExpHtml = ``
                    if (!bid.otherData.bidPrevExp) {
                    } else {
                        bidPrevExpHtml = 
                        `<br><p class="card-text" id="bidDesc">
                            <b>Relevant Experience and Examples of Previous Similar Execution</b>
                        </p>
                        <p class="card-text bid-exp" id="bidDesc">
                            ${bid.otherData.bidPrevExp}
                        </p>`
                    }
                    let bidComment = ''
                    if (bid.otherData.bidComment) {
                        bidComment = 
                            `<p class="card-text bid-comment" id="bidDesc">
                                ${bid.otherData.bidComment}
                            </p>`
                    }
                    console.log(bid.otherData.priceMilestone, milestoneCostList)
                    bidsList += 
                        `<div class="card text-center have-top-margin one-bid" data-task-author="${author}" data-task-permlink="${permlink}" data-author="${bid.hive.author}" data-permlink=${bid.hive.permlink}>
                            <div class="card-header container text-center">
                                <span class="text-white">Proposal Created By: </span><br>
                                <img src="https://images.hive.blog/u/{{currentProfile}}/avatar/small" style="border-radius: 50px;" width="32px"; margin: auto;>
                                <small class="text-right" style="color: whitesmoke;"><a href="">{{currentProfile}}</a></small>  
                            </div>
                            <div class="card-body container bidDetail">
                                <hr>
                                <p class="card-text text-center" id="bidDesc">
                                    Bid created by <br>
                                    <img src="https://images.hive.blog/u/${bid.hive.author}/avatar/small" style="border-radius: 50px;" width="32px"; margin: auto;>
                                    <small class="text-right"><a href="">${bid.hive.author}</a></small>  
                                </p>
                                <hr>
                                <p class="card-text text-center" id="bidDesc">
                                    <b>Bid Execution & Technical Details</b>
                                </p>
                                ${bidComment}
                                <div class="bidSumLump">
                                    <p class="card-text" id="bidDesc">
                                        ${milestoneCostList}
                                    </p>
                                </div>
                                <!--<div class="bidReim">
                                    <p class="card-text" id="bidDesc">
                                        <span>
                                            <b>Total Estimated Cost</b>
                                        </span><br>
                                        <span class="badge badge-primary">$${bid.otherData.priceLump}</span><br>
                                    </p>
                                </div>-->

                                <div class="bid-prev-exp">
                                    ${bidPrevExpHtml}
                                </div>

                                <div class="vote-replies">${voteReplies}</div>

                                <div class="form-group voteCommentArea" style="display:none;">
                                    <hr>
                                    <b>Status: </b><span class="badge badge-danger bidVoteStatus"></span><br><br>
                                    <label for="voteComment">Vote Comment</label>
                                    <textarea type="text" class="form-control vote-comment" id="voteComment" placeholder="Enter a reason for your support or rejection"></textarea><br><br>
                                    <a class="btn btn-sm btn-primary bid-vote-submit" data-task-author="${author}" data-task-permlink="${permlink}" data-author="${bid.hive.author}" data-permlink=${bid.hive.permlink}>SUBMIT</a>

                                    <a class="btn btn-sm btn-danger bid-vote-cancel" >CANCEL</a>
                                </div>
                                <hr>
                            </div>
                                
                            <div class="card-footer text-muted text-right row" style="margin-right: 0px; margin-left: 0px;">
                                <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="display: inline;">
                                    <span class="badge badge-light supportVal" style="margin-bottom: 3%;"><ion-icon name="thumbs-up"></ion-icon>Total Support Value: <br>${totalSupportValue} HP</span>

                                    <span class="badge badge-light rejectVal" style="margin-bottom: 3%;"><ion-icon name="thumbs-down"></ion-icon>Total Reject Value: <br>${totalRejectValue} HP</span>    
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 text-center" style="display: inline;"> 
                                    ${editBidBtn}  
                                    <span id="selectBidPrivate">
                                        <button type="button" class="btn btn-light btn-sm select-bid-private" data-task-author="${author}" data-task-permlink="${permlink}" data-author="${bid.hive.author}" data-permlink=${bid.hive.permlink}><ion-icon name="checkmark-outline"></ion-icon>APPROVE</button>
                                        <button type="button" class="btn btn-light btn-sm selected-bid-private" disabled><ion-icon name="checkmark-circle-outline"></ion-icon>APPROVED</button>
                                    </span>
                                    
                                    <span class="selectBidPublic">
                                        <span class="downvoteOpen badge badge-light" data-author="${bid.hive.author}" data-permlink=${bid.hive.permlink} data-text="reject" style="margin-right: 2%;padding: 2%;cursor:pointer;">
                                            <ion-icon name="thumbs-down-outline"></ion-icon>
                                            <small>${rejectStatus}(${rejectLength})</small>
                                        </span>                      
                                    
                                        <span class="upvoteOpen badge badge-light" data-author="${bid.hive.author}" data-permlink=${bid.hive.permlink} data-text="support" style= "margin-right: 2%;padding: 2%;cursor:pointer;">
                                            <ion-icon name="thumbs-up-outline"></ion-icon>
                                            <small>${supportStatus}(${supportLength})</small>
                                        </span><br>
                                    </span>
                                </div>
                            </div>
                        </div>`
                    })
                    $('#bidListArea').html(bidsList);
                    if (paymentMode === 'Lump sum (Per milestone, one time payment)') {
                        $('.bidSumLump').show();
                        $('.bidReim').hide();
                        /*$('#bidListArea').children().each(function () {
                            $('.bidReim').hide();
                            $('.bidSumLump').show();
                        })*/
                    } else {
                        $('.bidReim').show();
                        $('.bidSumLump').show();
                        $('.estCompletionTime').hide();
                        $('.totalEstTime').hide();
                        $('.totalCost').hide();
                        
                        /*$('#bidListArea').children().each(function () {
                            $('.bidReim').show();
                            $('.bidSumLump').hide();
                        })*/
                    }
                    //$('.selected-bid-private').hide()
                    if (taskFunding === 'Privately(Closed Source)' && taskFunder === name) {
                        $('.select-bid-private').show()
                    } else {
                        $('.select-bid-private').hide()
                        $('.selected-bid-private').hide()
                    }
                    console.log(selectedStatus,  getTaskDetail.data.task)
                    if (taskFunding === 'Privately(Closed Source)' || taskFunding === 'Privately(Open Source)') {
                        $('.taskUpvote').hide()
                        $('.taskDownvote').hide()
                        $('.upvoteOpen').hide()
                        $('.downvoteOpen').hide()
                        $('.supportVal').hide()
                        $('.rejectVal').hide()
                    }

                    if (selectedStatus == true) {
                        $('.select-bid-private').each(function() {
                            const author = $(this).attr('data-author')
                            const permlink = $(this).attr('data-permlink')

                            bids.forEach(bid => {
                                    console.log('selected')
                                if (bid.hive.author === author && bid.hive.permlink === permlink && bid.otherData.selected  == true) {
                                    $(this).parent().find('.selected-bid-private').show()
                                }
                                $(this).hide()
                            })
                        })
                    }

                    if (selectedStatus == false && taskFunding === 'Privately(Closed Source)' && taskFunder === name) {
                        $('.select-bid-private').show()
                        $('.selected-bid-private').hide()
                    }    
                }
                
            
            hive.api.getContent(author, permlink, function(err, result) {

                console.log({createdAt, bidAcceptTimeline, nowDate, creaste: result.created, date: new Date()});
                if (nowDate  <= (createdAt + bidAcceptTimeline)) {
                } else {
                    $('#submitBidBtn').hide();
                    $('#submitBidBtn2').hide();
                    $('#submitBidBtnArea').html(`
                        <div class="alert alert-dark text-center" role="alert" style="margin-top: 2%;">
                        <b>Bid submission deadline passed!</b>
                        </div>`)
                }


                if (loggedIn === 'false') {
                    $('#submitBidBtn2').hide();
                    $('.downvote').hide();
                    $('.downvoteOpen').hide();
                    $('.upvote').hide();
                    $('.upvoteOpen').hide();
                }


                if (nowDate  >= (createdAt + bidAcceptTimeline)  && taskFunding === 'SPK Network DAO(Open Source)') {
                    console.log({taskFunding})
                    $('.downvote').hide();
                    $('.upvote').hide()

                    $('.downvoteOpen').hide();
                    $('.upvoteOpen').hide()

                    let voteValArr = [];
                    let bidDataArr = []

                    $('.one-bid').each(function() {
                        let voteValSupport = 0;
                        let voteValReject = 0;
                        const supportVal = parseFloat($(this).find('.supportVal').text().replace('Total Support Value: ', '').replace(' HP', ''))

                        const rejectVal = parseFloat($(this).find('.rejectVal').text().replace('Total Reject Value: ', '').replace(' HP', ''))

                        voteValSupport += supportVal
                        voteValReject += rejectVal

                        voteValArr.push(voteValSupport)
                        
                        bidDataArr.push({voteValSupport, voteValReject, reciever: $(this).attr('data-author'), permlink: $(this).attr('data-permlink'), taskAuthor: $(this).attr('data-task-author'), taskPermlink: $(this).attr('data-task-permlink')})
                    })

                    console.log(bidDataArr)

                    const highestSupport = Math.max(...voteValArr);

                    function checkBidDataArr(arr) {
                        if (arr.voteValSupport == highestSupport) {
                            return arr;
                        }
                    }

                    const theBidToSend = bidDataArr.find(checkBidDataArr)
                    console.log({theBidToSend, selectedStatus})

                    if (selectedStatus == false) {
                        axios.post('/api/select/bid', {
                            author: theBidToSend.reciever,
                            permlink: theBidToSend.permlink,
                            taskAuthor: theBidToSend.taskAuthor,
                            taskPermlink: theBidToSend.taskPermlink,
                            voteValSupport: theBidToSend.voteValSupport,
                            voteValReject: theBidToSend.voteValReject 
                        })
                        .then(res => {
                            if (res.data.message === 'success') {
                                console.log(res.data.message)
                                window.location.reload();
                            }
                        })
                        .catch(err => {
                            console.log(err)
                        })
                    }
                } else {}

                if (taskFunding === 'SPK Network DAO(Open Source)') {
                    $('#submitBidBtnArea').after(`
                        <div class="alert alert-dark text-center" role="alert" style="margin-top: 2%;">
                        <b>Bids for community funded proposals will be selected automatically based on number of votes after bid submission deadline has passed!</b>
                        </div>`)
                }
            })

            if (proposalStatus === 'Work ongoing') {
                if (paymentMode === 'Lump sum (Per milestone, one time payment)') {
                    const divisor = milestones.length + 1;
                    let completionPercentage = 0
                    const eachMileVal = 100/divisor;

                    milestones.forEach(mile => {
                        if (mile.theMilestoneStatus) {
                            completionPercentage += eachMileVal
                        }
                    })

                    $('#progressRange').val(completionPercentage)
                    $('.progress-percentage').text(completionPercentage + '%')

                }

                if (paymentMode === 'Cost reimbursible (Ongoing contract)') {
                    let completionPercentage = 0

                    console.log({taskDuration, nowDate, bidDeadlineDate})

                    if (nowDate  >= bidDeadlineDate) {
                        const taskCompletionTimeline = (1000 * 3600 * 24) * taskDuration

                        const taskCompletionDate = bidDeadlineDate + taskCompletionTimeline

                        console.log(taskCompletionDate)

                        let currentProgress

                        if ((taskCompletionDate - nowDate) / (1000 * 3600 * 24) > 0) {
                            currentProgress = parseInt(taskDuration) - (taskCompletionDate - nowDate) / (1000 * 3600 * 24)
                        } else {
                            currentProgress = taskDuration
                        }
                        completionPercentage = (currentProgress/taskDuration) * 100
                    }

                    $('#progressRange').val(completionPercentage)
                    $('.progress-percentage').text(completionPercentage + '%')
                }
            }

        })
    </script>

    <script>
        $('#submitBidBtn').click(function () {
            $('#bidFormArea').show();
            const mileStatus = $('#milestonesList').find('.milestoneItemDesc').attr('data-mile')
            $('#mileLineHead').remove();
                console.log(mileStatus)
            if (mileStatus === 'yesLine') {
                $('.eachMilestone').each(function () {
                    if ($('#milePriceList').children().length !== $('#milestonesList').children().length) {
                        const mileText = $(this).find('.milestoneItem').text()
                        const mileDescText = $(this).find('.milestoneItemDesc').text()
                        const mileMaxPay = $(this).find('.milestoneMaxPay').text()
                        const mileExpectedCost = $(this).find('.milestoneExpectedCost').text()
                        console.log($(this))
                        const milePriceOutput = 
                            `<div class="col-lg-12 col-md-12 col-sm-12">
                                <h6 class="text-center"><b>${$('#milePriceList').children().length + 1}) <span class="milestoneItem">${mileText}</span></b></h6>
                                <p class="text-center milestoneItemDesc">${mileDescText}</p>
                                <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Maximum bid allowable($): <span class="milestoneMaxPayBid">${mileMaxPay}</span></span></p>
                                <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Total anticipated spend($):<br> <span class="milestoneExpectedCostBid">${mileExpectedCost}</span></span></p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="bidPriceMile">Estimated Cost (USD)</label>
                                <input type="number" class="form-control bid-price-mile">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="mileComment">Technical Execution Details and Notes(Optional)</label>
                                <textarea type="text" class="form-control mile-extra-comment"></textarea>
                            </div>`
                        const addForm = 
                            `<div class="card">
                                <div class="card-body row">
                                    ${milePriceOutput}
                                </div>
                            </div>`;
                        $('#milePriceList').append(addForm)
                    }
                })
                $('#milePriceList').before(`<h5 class="text-center" id="mileLineHead">Line Items</h5>`)
                
            } 
            
            if (mileStatus === 'yesMile') {
                $('#lumpSumTask').hide()
                $('#bidCommentArea').hide();
                $('.eachMilestone').each(function () {
                    if ($('#milePriceList').children().length !== $('#milestonesList').children().length) {
                        const mileText = $(this).find('.milestoneItem').text()
                        const mileDescText = $(this).find('.milestoneItemDesc').text()
                        const mileMaxPay = $(this).find('.milestoneMaxPay').text()
                        const mileExpectedCost = $(this).find('.milestoneExpectedCost').text()
                        console.log($(this))
                        const milePriceOutput = 
                            `<div class="col-lg-12 col-md-12 col-sm-12">
                                <h6 class="text-center"><b>${$('#milePriceList').children().length + 1}) <span class="milestoneItem">${mileText}</span></b></h6>
                                <p class="text-center milestoneItemDesc">${mileDescText}</p>
                                <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Maximum bid allowable($): <span class="milestoneMaxPayBid">${mileMaxPay}</span></span></p>
                                <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Total anticipated spend($):<br> <span class="milestoneExpectedCostBid">${mileExpectedCost}</span></span></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="bidPriceMile">Estimated Cost (USD)</label>
                                <input type="number" class="form-control bid-price-mile">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="mileCompletionTime">Estimated Completion Time (days)</label>
                                <input type="number" class="form-control mile-completion-time">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="mileComment">Technical Execution Details and Notes(Optional)</label>
                                <textarea type="text" class="form-control mile-extra-comment"></textarea>
                            </div>`
                        const addForm = 
                            `<div class="card">
                                <div class="card-body row">
                                    ${milePriceOutput}
                                </div>
                            </div>`;
                        $('#milePriceList').append(addForm)
                    }
                })
                $('#milePriceList').before(`<h5 class="text-center" id="mileLineHead">Milestones</h5>`)
            }
            
            
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#bidFormArea").offset().top
            }, 2000);
        })

        $(document).on('click', '#submitBidBtn2', function () {
            $('#bidFormArea').show();
            const mileStatus = $('#milestonesList').find('.milestoneItemDesc').attr('data-mile')
            $('#mileLineHead').remove();
                if (mileStatus === 'yesLine') {
                $('.eachMilestone').each(function () {
                    if ($('#milePriceList').children().length !== $('#milestonesList').children().length) {
                        const mileText = $(this).find('.milestoneItem').text()
                        const mileDescText = $(this).find('.milestoneItemDesc').text()
                        const mileMaxPay = $(this).find('.milestoneMaxPay').text()
                        console.log($(this))
                        const milePriceOutput = 
                            `<div class="col-lg-12 col-md-12 col-sm-12">
                                <h6 class="text-center"><b>${$('#milePriceList').children().length + 1}) <span class="milestoneItem">${mileText}</span></b></h6>
                                <p class="text-center milestoneItemDesc">${mileDescText}</p>
                                <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Maximum bid allowable($): <span class="milestoneMaxPayBid">${mileMaxPay}</span></span></p>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="bidPriceMile">Estimated Cost (USD)</label>
                                <input type="number" class="form-control bid-price-mile">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="mileComment">Technical Execution Details and Notes(Optional)</label>
                                <textarea type="text" class="form-control mile-extra-comment"></textarea>
                            </div>`
                        const addForm = 
                            `<div class="card">
                                <div class="card-body row">
                                    ${milePriceOutput}
                                </div>
                            </div>`;
                        $('#milePriceList').append(addForm)
                    }
                })
                $('#milePriceList').before(`<h5 class="text-center" id="mileLineHead">Line Items</h5>`)
            } 
            
            if (mileStatus === 'yesMile') {
                $('#lumpSumTask').hide()
                $('#bidCommentArea').hide();
                $('.eachMilestone').each(function () {
                    if ($('#milePriceList').children().length !== $('#milestonesList').children().length) {
                        const mileText = $(this).find('.milestoneItem').text()
                        const mileDescText = $(this).find('.milestoneItemDesc').text()
                        const mileMaxPay = $(this).find('.milestoneMaxPay').text()
                        console.log($(this))
                        const milePriceOutput = 
                            `<div class="col-lg-12 col-md-12 col-sm-12">
                                <h6 class="text-center"><b>${$('#milePriceList').children().length + 1}) <span class="milestoneItem">${mileText}</span></b></h6>
                                <p class="text-center milestoneItemDesc">${mileDescText}</p>
                                <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Maximum bid allowable($): <span class="milestoneMaxPayBid">${mileMaxPay}</span></span></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="bidPriceMile">Estimated Cost (USD)</label>
                                <input type="number" class="form-control bid-price-mile">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="mileCompletionTime">Estimated Completion Time (days)</label>
                                <input type="number" class="form-control mile-completion-time">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="mileComment">Technical Execution Details and Notes(Optional)</label>
                                <textarea type="text" class="form-control mile-extra-comment"></textarea>
                            </div>`
                        const addForm = 
                            `<div class="card">
                                <div class="card-body row">
                                    ${milePriceOutput}
                                </div>
                            </div>`;
                        $('#milePriceList').append(addForm)
                    }
                })
                $('#milePriceList').before(`<h5 class="text-center" id="mileLineHead">Milestones</h5>`)
                
            }
            
           
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#bidFormArea").offset().top
            }, 2000);
        })
    </script>
    <script>
        $('#cancelBid').click(async () => {
            if ($('#milePriceList').children().length > 0) {
                $('#milePriceList').children().each(function () {
                    $(this).remove()
                })
            }
            $('#bidFormArea').hide();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        })

        $('#submitBid').click(async () => {
            const bidTaskCreator = '{{ currentProfile }}'
            const bidCreator = '{{ username }}'
            const bidTaskTitle = $('#taskTitle').text()
            const bidComment = $('#bidComment').val()
            const taskParams = window.location.pathname.split('/');
            const paymentMode = $('input[name="flexPaymentMode"]:checked').val();
            const bidPrice = $('#bidPrice').val()
            const taskPermlink = taskParams[2];
            const bidPrevExp = $('#bidPrevExp').val()

            const getKeychainAuthStatus = localStorage.getItem('keychainAuth');

            
            const parentTitleLower = `re-${bidTaskCreator}-${taskPermlink.toLowerCase().slice(0, (taskPermlink.length / 2))}-${bidCreator}` 
            const parentPermlinkInit = parentTitleLower.replace(/ /g, '-');        
            const colonpermlink = parentPermlinkInit.replace(/,/g, '');

            let commentPermlink
            commentPermlink = $(this).attr('data-bid-permlink')
            if (commentPermlink) {
            } 
            else {
                commentPermlink = colonpermlink.replace(/:/g, '');
            }
            
            const parentPermlink = taskPermlink
            const jsonMetadata = {tags: ['s'], app: 'speakbounties' }

            

            let priceLump = '';
            let priceMilestone = []
            let priceMilestoneHtml = ``

            $('#milePriceList').children().each(function() {
                    const priceVal = $(this).find('.bid-price-mile').val();
                    const mileText = $(this).find('.milestoneItem').text()
                    const mileDescText = $(this).find('.milestoneItemDesc').text()
                    let completionTime = $(this).find('.mile-completion-time').val();
                    const mileExtraComment = $(this).find('.mile-extra-comment').val();
                    const mileExtraHtml = `<p>Extra Notes</p><p>${mileExtraComment}</p>`;

                   priceMilestoneHtml += `<h6>${mileText}</h6><p>This line item is estimated to cost $${priceVal}</p><p>Estimated completion time is in ${completionTime} days after bid is approved</p>`

                    if (!completionTime) {
                        completionTime = ''

                        priceMilestoneHtml += `<h6>${mileText}</h6><p>This line item is estimated to cost $${priceVal}</p>`
                    }

                   priceMilestone.push({priceVal, completionTime, mileText, mileDescText, mileExtraComment, milestoneStatus: false})

                   if (mileExtraComment) {
                       priceMilestoneHtml += mileExtraHtml;
                   }
                })

            if ( $('#mileStoneTask').css('display') === 'none') {
                priceLump = $('#bidPriceLump').val()
            }
            
            /*if ( $('#lumpSumTask').css('display') === 'none') {
                $('#milePriceList').children().each(function() {
                    const priceVal = $(this).find('.bid-price-mile').val();
                    const mileText = $(this).find('.milestoneItem').text()
                    const mileDescText = $(this).find('.milestoneItemDesc').text()
                    const completionTime = $(this).find('.mile-completion-time').val();
                    const mileExtraComment = $(this).find('.mile-extra-comment').val();
                    const mileExtraHtml = `<p>Extra Notes</p><p>${mileExtraComment}</p>`;

                   priceMilestone.push({priceVal, completionTime, mileText, mileDescText, mileExtraComment, milestoneStatus: false})

                   priceMilestoneHtml += `<h6>${mileText}</h6><p>This milestone is estimated to cost $${priceVal}</p><p>Estimated completion time is in ${completionTime} days after bid is approved</p>`

                   if (mileExtraComment) {
                       priceMilestoneHtml += mileExtraHtml;
                   }
                })
            }*/

            let body = bidComment + `<h5>Estimated Cost</h5><p>${priceLump}</p><div>${priceMilestoneHtml}</div>`;

            if (bidPrevExp.length > 0) {
                body += `<div><p><b>Relevant Experience and Examples of Previous Similar Execution</p><br><p>${bidPrevExp}</p></div>`;
            }

            const comment = {
                parent_author: bidTaskCreator,
                parent_permlink: parentPermlink,
                author: bidCreator,
                permlink: commentPermlink,
                title: bidTaskTitle,
                body,
                json_metadata: JSON.stringify(jsonMetadata),
            };
            console.log({
                taskPermlink,
                comment,
                priceLump,
                priceMilestone,
                bidComment,
                bidPrevExp
            })

            const operation = ['comment', comment]

            
            if (getKeychainAuthStatus === "true") {

                hive_keychain.requestBroadcast(bidCreator, [operation], 'Posting', async (response) => {
                    console.log(response)
                    if (response.success) {
                        console.log(response);

                        axios.post('/api/add/bid', {
                            taskPermlink,
                            comment,
                            priceLump,
                            priceMilestone,
                            bidComment,
                            bidPrevExp
                        }).then(async (task) => {
                            if(task.data.message == 'success') {
                                window.location.reload()
                            }
                        }).catch((err) => {
                            alert('There was an error, please try again now or later');
                        })
                    }
                });
            }

            if (getKeychainAuthStatus === "false") {
                const wif = localStorage.getItem('currentUserPass')
                hive.broadcast.comment(wif, '', parentPermlink, bidCreator, commentPermlink, bidTaskTitle, body, JSON.stringify(jsonMetadata), function(err, response) {
                    if (err) {
                        alert('There was an error, please try again now or later')
                    }
                    if (response) {
                        console.log("I'ma do it posting")
                        axios.post('/api/add/bid', {
                            taskPermlink,
                            comment,
                            priceLump,
                            priceMilestone,
                            bidComment,
                            bidPrevExp
                        }).then(async (task) => {
                            if(task.data.message == 'success') {
                                window.location.reload()
                            }
                        }).catch((err) => {
                            alert('There was an error, please try again now or later');
                        })
                    }
                });
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            $(document).on('click', '.taskUpvote',  function () {
                const author = $(this).attr('data-author');
                const permlink = $(this).attr('data-permlink');
                const getKeychainAuthStatus = localStorage.getItem('keychainAuth');
                const voter = localStorage.getItem('currentUser');

                
                console.log('bout to vote')
                let voterHivePower;

                if (getKeychainAuthStatus === "true" || getKeychainAuthStatus === "false") {
                    hive.api.getAccounts([voter], async(err, response) => {
                        if (err) {console.log(err, response);}

                        if (response) {
                            console.log(response)
                            const vestingShares = response[0].vesting_shares;

                            const dynamicGlobalProps = await hive.api.getDynamicGlobalPropertiesAsync();
                            const totalVestingShares = dynamicGlobalProps.total_vesting_shares;
                            const totalVestingFund = dynamicGlobalProps.total_vesting_fund_hive;

                            voterHivePower = parseFloat(hive.formatter.vestToHive(vestingShares, totalVestingShares, totalVestingFund).toFixed(3));     

                            const voteObj = {        
                                voter,
                                voteType: 'support',
                                voterHivePower,
                                voteReceiver: author,
                                permlink
                            };

                            const sendVote = await axios.post('/api/vote/add', voteObj);

                            if (sendVote.data.message === 'success') {
                                $(this).text('SUPPORTED')
                                $(this).css('cursor', 'default');
                            }
                            if (sendVote.data.message === 'duplicate vote found') {
                                var modalTwo = document.getElementById("myRemoveModal");

                                modalTwo.style.display = "block";
                            }
                        }
                    });
                } else {
                    alert('You must be logged in to perform any operations')
                }
            })

           

            $(document).on('click', '.taskDownvote',  function () {
                const author = $(this).attr('data-author');
                const permlink = $(this).attr('data-permlink');
                const getKeychainAuthStatus = localStorage.getItem('keychainAuth');
                const voter = localStorage.getItem('currentUser');
                
                let voterHivePower;

                if (getKeychainAuthStatus === "true" || getKeychainAuthStatus === "false") {
                    hive.api.getAccounts([voter], async(err, response) => {
                        if (err) {console.log(err, response);}

                        if (response) {
                            console.log(response)
                            const vestingShares = response[0].vesting_shares;

                            const dynamicGlobalProps = await hive.api.getDynamicGlobalPropertiesAsync();
                            const totalVestingShares = dynamicGlobalProps.total_vesting_shares;
                            const totalVestingFund = dynamicGlobalProps.total_vesting_fund_hive;

                            voterHivePower = parseFloat(hive.formatter.vestToHive(vestingShares, totalVestingShares, totalVestingFund).toFixed(3));     

                            const voteObj = {        
                                voter,
                                voteType: 'reject',
                                voterHivePower,
                                voteReceiver: author,
                                permlink
                            };

                            const sendVote = await axios.post('/api/vote/add', voteObj);

                            if (sendVote.data.message === 'success') {
                                $(this).text('REJECTED')
                                $(this).css('cursor', 'default');
                            }

                            if (sendVote.data.message === 'duplicate vote found') {
                                alert('Seems you have voted this post before')
                            }
                        }
                    });
                } else {
                    alert('You must be logged in to perform any operations')
                }
            })



        })
    </script>

    <script>
        $(document).on('click', '.downvoteOpen',  function () {
            const voteStatus = $(this).attr('data-text');
            $(this).parent().parent().parent().find('.bidDetail').find('.voteCommentArea').show();
            $(this).parent().parent().parent().find('.bidDetail').find('.voteCommentArea').find('.bidVoteStatus').text(voteStatus.toUpperCase())
        })
            
        $(document).on('click', '.upvoteOpen',  function () {
            const voteStatus = $(this).attr('data-text');
            $(this).parent().parent().parent().find('.bidDetail').find('.voteCommentArea').show();
            $(this).parent().parent().parent().find('.bidDetail').find('.voteCommentArea').find('.bidVoteStatus').text(voteStatus.toUpperCase())
        })
    </script>

    <script>
        $(document).on('click', '.bid-vote-cancel',  function () {
            $(this).parent().find('.bidVoteStatus').text('') 
            $(this).parent().hide();
            })
            
        $(document).on('click', '.bid-vote-submit',  function () {
            
                const getKeychainAuthStatus = localStorage.getItem('keychainAuth');



                const voter = localStorage.getItem('currentUser');
                const voteType = $(this).parent().find('.bidVoteStatus').text().toLowerCase();
                let voterHivePower;
                const voteTaskAuthor = $(this).attr('data-task-author')
                const voteTaskPermlink = $(this).attr('data-task-permlink')
                const voteBidAuthor = $(this).attr('data-author')
                const voteBidPermlink = $(this).attr('data-permlink')
                const voteBidComment = $(this).parent().find('.vote-comment').val();

                

                
                

                if (getKeychainAuthStatus === "true" || getKeychainAuthStatus === "false") {
                    hive.api.getAccounts([voter], async(err, response) => {
                        if (err) {console.log(err, response);}

                        if (response) {
                            console.log(response)
                            const vestingShares = response[0].vesting_shares;

                            const dynamicGlobalProps = await hive.api.getDynamicGlobalPropertiesAsync();
                            const totalVestingShares = dynamicGlobalProps.total_vesting_shares;
                            const totalVestingFund = dynamicGlobalProps.total_vesting_fund_hive;

                            voterHivePower = parseFloat(hive.formatter.vestToHive(vestingShares, totalVestingShares, totalVestingFund).toFixed(3));     

                            const voteObj = {        
                                voter,
                                voteType,
                                voterHivePower,
                                voteTaskAuthor,
                                voteTaskPermlink,
                                voteBidAuthor,
                                voteBidPermlink,
                                voteBidComment
                            };

                            const sendVote = await axios.post('/api/vote/bid', voteObj);

                            if (sendVote.data.message === 'success') {
                                $(this).text('SUPPORTED')
                                $(this).parent().hide();
                                $(this).css('cursor', 'default');
                            }
                            if (sendVote.data.message === 'duplicate vote found') {
                                alert('Seems you have voted this post before')
                            }
                        }
                    });
                } else {
                    alert('You must be logged in to perform any operations')
                }

            })
    </script>
    
    <script>
        $(document).on('click', '.select-bid-private', function() {
            const author = $(this).attr('data-author')
            const permlink = $(this).attr('data-permlink')
            const taskAuthor = $(this).attr('data-task-author')
            const taskPermlink = $(this).attr('data-task-permlink')

            

            axios.post('/api/select/bid', {
                author, permlink, taskAuthor, taskPermlink
            })
                .then(res => {
                    if (res.data.message === 'success') {
                        window.location.reload();
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        })
    </script>

    <script>
        
        var modalTwo = document.getElementById("myRemoveModal")
        const closeEl = document.getElementsByClassName("closeRemove")[0];

        $('.closeRemove').click(() => {
            $('#myRemoveModal').hide();
        })

        $('.cancel-remove-btn').click(() => {
            $('#myRemoveModal').hide();
        })

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modalTwo) {
                modalTwo.style.display = "none";
            }
        }
    </script>
    <script>
        $('.vote-remove-btn').click(function() {
            const author = $(this).attr('data-author');
            const permlink = $(this).attr('data-permlink');

            console.log(author, permlink);
        })
    </script>
    <script>
        $('#editTaskBtn').click(function() {
            const author = $(this).attr('data-author');
            const permlink = $(this).attr('data-permlink');

            window.location.replace(`/${author}/create?permlink=${permlink}`)
        })
    </script>

    <script>
        $('#deleteTaskBtn').click(async () => {
            const author = localStorage.getItem('currentUser')

            const taskParams = window.location.pathname.split('/');
            const permlink = taskParams[2];
            
            const deleteTask = await axios.post('/api/delete', {
                author,
                permlink
            })

            if (deleteTask.data.message === 'success') {
                window.location.replace(window.location.origin)
            } else {
                alert('Task could not be deleted, try later or contact admin')
            }
        })
    </script>
    <script>
        $(document).on('click', '#editBid', function () {
            let theBidComment, theBidReim, theBidPrevExp
            $('#bidFormArea').show();
            $('#mileLineHead').remove();
            $('#submitBid').attr('data-bid-permlink', $(this).find('.edit-bid').attr('data-permlink'))
            theBidPrevExp = $(this).parent().parent().parent().find('.bid-prev-exp').find('.bid-exp').text();
            const mileStatus = $('#milestonesList').find('.milestoneItemDesc').attr('data-mile')
                console.log(mileStatus)
            if (mileStatus === 'yesLine') {
                /*$('#mileStoneTask').hide()
                theBidComment = $(this).parent().parent().parent().find('.bid-comment').text();
                theBidReim = $(this).parent().parent().parent().find('.bidReim').find('.badge').text();

                $('#bidComment').val(theBidComment.trim());
                $('#bidPriceLump').val(theBidReim.substring(1));*/
                $('#bidPrevExp').val(theBidPrevExp.trim());


                $('.eachMilestone').each(function () {
                    if ($('#milePriceList').children().length !== $('#milestonesList').children().length) {
                        const mileText = $(this).find('.milestoneItem').text()
                        const mileDescText = $(this).find('.milestoneItemDesc').text()
                        const mileMaxPay = $(this).find('.milestoneMaxPay').text()
                        const milePriceOutput = 
                            `<div class="col-lg-12 col-md-12 col-sm-12">
                                <h6 class="text-center"><b>${$('#milePriceList').children().length + 1}) <span class="milestoneItem">${mileText}</span></b></h6>
                                <p class="text-center milestoneItemDesc">${mileDescText}</p>
                                <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Maximum bid allowable($): <span class="milestoneMaxPayBid">${mileMaxPay}</span></span></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="bidPriceMile">Milestone Estimated Cost (USD)</label>
                                <input type="number" class="form-control bid-price-mile">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="mileCompletionTime">Estimated Completion Time</label>
                                <input type="number" class="form-control mile-completion-time">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="mileComment">Technical Execution Details and Notes(Optional)</label>
                                <textarea type="text" class="form-control mile-extra-comment"></textarea>
                            </div>`
                        const addForm = 
                            `<div class="card">
                                <div class="card-body row">
                                    ${milePriceOutput}
                                </div>
                            </div>`;
                        $('#milePriceList').append(addForm)


                    }
                })
                $('#milePriceList').before(`<h5 class="text-center" id="mileLineHead">Line Items</h5>`)
                
                const priceMileArr = Array.from($('.bid-price-mile'))
                const timeMileArr = Array.from($('.mile-completion-time'))
                const commentMileArr = Array.from($('.mile-extra-comment'))

                let i = 0;

                $(this).parent().parent().parent().find('.bidSumLump').children().find('.est-mile-cost').each(function() {
                    const currText = $(this).text().trim().substring(1)
                    priceMileArr.forEach(function(onePriceMile) {

                        if (priceMileArr.indexOf(onePriceMile) == i && !onePriceMile.value) {
                            onePriceMile.value = currText
                        }
                    })
                    i++
                })

                let j = 0;
                $(this).parent().parent().parent().find('.bidSumLump').children().find('.est-mile-time').each(function() {
                    const currText = $(this).text().slice(0, -5).trim();
                    timeMileArr.forEach(function(oneTimeMile) {

                        if (timeMileArr.indexOf(oneTimeMile) == j && !oneTimeMile.value) {
                            oneTimeMile.value = currText
                        }
                    })
                    j++
                })

                let n = 0;
                $(this).parent().parent().parent().find('.bidSumLump').children().find('.extra-notes').each(function() {
                    const currText = $(this).text().trim();
                    
                    commentMileArr.forEach(function(oneCommentMile) {
                        if (commentMileArr.indexOf(oneCommentMile) == n) {
                            oneCommentMile.value = currText
                            n++
                        }
                    })
                })
            } 
            
            if (mileStatus === 'yesMile') {
                $('#lumpSumTask').hide()
                $('#bidCommentArea').hide();
               
                $('#bidPrevExp').val(theBidPrevExp.trim());

                $('.eachMilestone').each(function () {
                    if ($('#milePriceList').children().length !== $('#milestonesList').children().length) {
                        const mileText = $(this).find('.milestoneItem').text()
                        const mileDescText = $(this).find('.milestoneItemDesc').text()
                        const mileMaxPay = $(this).find('.milestoneMaxPay').text()
                        const milePriceOutput = 
                            `<div class="col-lg-12 col-md-12 col-sm-12">
                                <h6 class="text-center"><b>${$('#milePriceList').children().length + 1}) <span class="milestoneItem">${mileText}</span></b></h6>
                                <p class="text-center milestoneItemDesc">${mileDescText}</p>
                                <p class="text-center"><span class="badge badge-primary" style="background-color: black !important;">Maximum bid allowable($): <span class="milestoneMaxPayBid">${mileMaxPay}</span></span></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="bidPriceMile">Milestone Estimated Cost (USD)</label>
                                <input type="number" class="form-control bid-price-mile">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <label for="mileCompletionTime">Estimated Completion Time</label>
                                <input type="number" class="form-control mile-completion-time">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="mileComment">Technical Execution Details and Notes(Optional)</label>
                                <textarea type="text" class="form-control mile-extra-comment"></textarea>
                            </div>`
                        const addForm = 
                            `<div class="card">
                                <div class="card-body row">
                                    ${milePriceOutput}
                                </div>
                            </div>`;
                        $('#milePriceList').append(addForm)


                    }
                })
                $('#milePriceList').before(`<h5 class="text-center" id="mileLineHead">Milestones</h5>`)
                
                const priceMileArr = Array.from($('.bid-price-mile'))
                const timeMileArr = Array.from($('.mile-completion-time'))
                const commentMileArr = Array.from($('.mile-extra-comment'))

                let i = 0;

                $(this).parent().parent().parent().find('.bidSumLump').children().find('.est-mile-cost').each(function() {
                    const currText = $(this).text().trim().substring(1)
                    priceMileArr.forEach(function(onePriceMile) {

                        if (priceMileArr.indexOf(onePriceMile) == i && !onePriceMile.value) {
                            onePriceMile.value = currText
                        }
                    })
                    i++
                })

                let j = 0;
                $(this).parent().parent().parent().find('.bidSumLump').children().find('.est-mile-time').each(function() {
                    const currText = $(this).text().slice(0, -5).trim();
                    timeMileArr.forEach(function(oneTimeMile) {

                        if (timeMileArr.indexOf(oneTimeMile) == j && !oneTimeMile.value) {
                            oneTimeMile.value = currText
                        }
                    })
                    j++
                })

                let n = 0;
                $(this).parent().parent().parent().find('.bidSumLump').children().find('.extra-notes').each(function() {
                    const currText = $(this).text().trim();
                    
                    commentMileArr.forEach(function(oneCommentMile) {
                        if (commentMileArr.indexOf(oneCommentMile) == n) {
                            oneCommentMile.value = currText
                            n++
                        }
                    })
                })
                
            }
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#bidFormArea").offset().top
            }, 2000);
        })
    </script>
{% endblock %}